.not-found-heading {
  font-size: 28px;
  font-weight: 600;
  display: block;
  margin-bottom: 17px;

  @media screen and (min-width: 48em) {
    font-size: 38px;
  }
}

.not-found-desc {
  font-size: 15px;
  opacity: .8;

  @media screen and (min-width: 48em) {
    font-size: 17px;
  }
}

.not-found-icon {
  width: 70px;
  right: 10px;
  top: 100px;
  position: absolute;
  z-index: -1;
  display: none;

  @media screen and (min-width: 48em) {
    display: block;
    right: -10%;
    bottom: -63%;
    top: unset;
    width: unset;
  }

  @media screen and (min-width: 62em) {
    right: -11%;
  }
}

.not-found__heading-container {
  margin-bottom: 20px;

  @media screen and (min-width: 48em) {
    margin-bottom: 105px;
  }
}

.not-found-main {
  margin-top: 20px;

  @media screen and (min-width: 48em) {
    margin-top: 80px;
  }
}