.author-avatar {
  width: 0;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author-avatar-container {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;

  @media screen and (min-width: 48em) {
    width: 75px;
    height: 75px;
  }
}

.author-name {
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 30px;
  display: inline-block;
  margin-bottom: 0 !important;

  @media screen and (min-width: 48em) {
    font-size: 26px;
    margin-left: 21px;
    margin-right: 30px;
  }
}

.author__heading {
  display: flex;
  align-items: center;
  gap: 25px 0;
}

.author-website img {
  margin-right: 3px;
}

.author-website {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 32px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;

  @media screen and (min-width: 48em) {
    padding-left: 30px;
  }
}

.author-website a:hover {
  text-decoration: underline;
}

.author-products__heading {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 8px;
}

.author-products__heading:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.author-products__heading button {
  background: transparent;
  font-size: 15px;
  padding: 14px 0;
  overflow: hidden;
  position: relative;
  transition: .2s;
}

.have-button-active-effect {
  background: #000000;
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 99999px;
  transition: .2s;
}

.author-products__heading .active span {
  background: #000000;
  color: #ffffff;
}

.author-products__heading button span {
  border-radius: 999999999px;
  height: 15px;
  font-size: 10px;
  padding: 1px 6px 0;
  margin-left: 6px;
  transition: .2s;
}

.author-products__heading button:not(.active) {
  color: rgba(0, 0, 0, 0.5);
}

.author-products__heading button:not(.active) span {
  background: #F0F1F3;
}

.author-products__heading button:first-child {
  margin-right: 30px;
}

//.author-products-container .masonry-container .masonry-item {
//  width: calc((100% / 7) - (20px * 6 / 7));
//}
.author-products-container .masonry-container .masonry-item .article__img img {
  width: 100%;
}

.author__social-medias img {
}

.author-products__heading span {
  display: inline-block;
  transform: translateY(-1.5px);
}

.author__social-medias img {
  transition: .2s;
}

.author__social-medias a {
  position: relative;
  margin-right: 20px;
}

.author__social-medias a div {
  border-radius: 9999px;
  background: #000000;
  color: #FFFFFF;
  font-size: 11px;
  padding: 4px 10px;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  white-space: nowrap;
  opacity: 0;
  transition: .2s;
  pointer-events: none;
}

.author__social-medias a:hover div {
  top: -100%;
  opacity: 1;
}

.creative-market-link:hover img {
  filter: invert(59%) sepia(33%) saturate(765%) hue-rotate(127deg) brightness(98%) contrast(85%);
}

.envato-link:hover img {
  filter: invert(60%) sepia(45%) saturate(527%) hue-rotate(45deg) brightness(98%) contrast(92%);
}

.my-fonts-link:hover img {
  filter: invert(52%) sepia(44%) saturate(4368%) hue-rotate(172deg) brightness(102%) contrast(105%);
}

.freepik-link:hover img {
  filter: invert(33%) sepia(88%) saturate(2524%) hue-rotate(201deg) brightness(94%) contrast(99%);
}

.dribbble-link:hover img {
  filter: invert(41%) sepia(60%) saturate(2591%) hue-rotate(311deg) brightness(98%) contrast(87%);
}

.behance-link:hover img {
  filter: invert(22%) sepia(51%) saturate(5869%) hue-rotate(217deg) brightness(99%) contrast(111%);
}

.instagram-link:hover img {
  filter: invert(34%) sepia(48%) saturate(7500%) hue-rotate(331deg) brightness(102%) contrast(103%);
}

.facebook-link:hover img {
  filter: invert(35%) sepia(96%) saturate(1937%) hue-rotate(200deg) brightness(95%) contrast(100%);
}

.twitter-link:hover img {
  filter: invert(52%) sepia(63%) saturate(3029%) hue-rotate(177deg) brightness(101%) contrast(90%);
}

.pinterest-link:hover img {
  filter: invert(16%) sepia(100%) saturate(7361%) hue-rotate(347deg) brightness(88%) contrast(106%);
}

.youtube-link:hover img {
  filter: invert(22%) sepia(97%) saturate(5831%) hue-rotate(0deg) brightness(94%) contrast(126%);
}

.fontbundles-link:hover img {
  filter: invert(51%) sepia(95%) saturate(616%) hue-rotate(300deg) brightness(98%) contrast(98%);
}

.fontbundles-link:hover img {
  filter: invert(51%) sepia(95%) saturate(616%) hue-rotate(300deg) brightness(98%) contrast(98%);
}

.designbundles-link:hover img {
  filter: invert(70%) sepia(30%) saturate(1948%) hue-rotate(169deg) brightness(102%) contrast(97%);
}

.creativefabrica-link:hover img {
  filter: invert(47%) sepia(100%) saturate(281%) hue-rotate(87deg) brightness(100%) contrast(86%);
}

.designcuts-link:hover img {
  filter: invert(49%) sepia(93%) saturate(386%) hue-rotate(131deg) brightness(102%) contrast(92%);
}

.author-products__heading button {
  font-weight: 500;
}

.author-main {
  margin-top: 40px;
}