.blogs__main .article__img {
  padding-top: 66.56%;
  width: 100%;
  @media screen and (min-width: 48em) {
    width: 311px;
  }
}

.blogs__sm-container {
  max-width: 804px;
}

.blogs__main article {
  margin-bottom: 40px;
}

.blogs__article__category {
  font-size: 14px;
  margin-right: 15px;
}

.blogs__article__reading-time {
  font-size: 14px;
  opacity: .4;
}

.blog__article__title {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 15px;
  margin-bottom: 8px;
  display: block;
}

.article__img-container {
  border-radius: 4px;
  width: 100%;

  @media screen and (min-width: 48em) {
    width: unset;
  }
}

.blog__article__texts-container {
  padding-top: 10px;

  @media screen and (min-width: 48em) {
    padding-bottom: 15px;
    padding-left: 45px;
  }
}

.blogs__main .article__pin {
  position: absolute;
  right: 0;
  top: 20px;
  transform: rotateY(180deg);
  margin: 0;
}

.blog__main__heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.blogs__main {
  margin-top: 40px;
  @media screen and (min-width: 48em) {
    margin-top: 75px;
  }
}

.blog__articles-container {
  margin-top: 40px;
  @media screen and (min-width: 48em) {
    margin-top: 75px;
  }
}

.blogs-categories-container > * {
  margin-right: 25px;
  cursor: pointer;
}

.blog-container {
  max-width: 962px;
  margin-left: auto;
  margin-right: auto;
}

.blog-single__heading {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1.8px;

  @media screen and (min-width: 48em) {
    font-size: 44px;
  }
}

.blog-container .article__img {
  padding-top: 66.56%;
  width: 100%;
  @media screen and (min-width: 48em) {
    width: 311px;
  }
}

.blog-single .back-location {
  margin: 70px 0 20px;
}

.blog__info {
  margin: 20px 0 35px;
}

.blog__published-date, .blog__author {
  opacity: .7;
  font-size: 15px;
  margin-right: 25px;
}

.blog__info button {
  background: transparent;
  display: flex;
  align-items: center;
}

.blog__info button img {
  margin-right: 6px;
}

.blog-single__img-container {
  border-radius: 4px;
  margin-bottom: 40px;
  background: #eff0f3;
}

.blog__table-of-contents {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  font-size: 14px;
  border-right: 1px solid #e5e5e5;
  padding-right: 33px;
  line-height: 27px;

  @media screen and (min-width: 1430px) {
    display: flex;
  }
}

.blog__table-of-contents__heading {
  font-weight: 600;
  margin-bottom: 10px;
}

.blog__table-of-contents span:not(.blog__table-of-contents__heading) {
  font-weight: 400;
  font-size: 13px;
}

.blog-single__small-width-content {
  width: 100%;
  font-size: 22px;
  font-weight: 400;

  @media screen and (min-width: 48em) {
    width: calc(100% - 210px);
  }
}

.blog-single__social-medias {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 60px;
  position: sticky;
  left: 0;
  top: 130px;
  height: fit-content;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  gap: 25px;
  padding: 25px 0;

  @media screen and (min-width: 48em) {
    display: flex;
  }

  @media screen and (min-width: 62em) {
    top: 90px;
  }
}

.font-29 {
  font-size: 29px;
}

.border-radius-4 {
  border-radius: 4px;
}

.single-page__pinterest {
  position: absolute;
  top: 18px;
  left: 20px;
  opacity: 0;
  transition: .2s;
}

.single-page__pinterest img {
  width: 36px;
  height: 36px;
}

.fw-semibold {
  font-weight: 600;
}

.read-these {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

.read-these article {
  margin-bottom: 40px;
}

.read-these__heading {
  font-size: 25px;
  font-weight: 600;
  margin: 54px 0 51px;
  display: block;
}

.blog-single__small-width-content p {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.blog-single__sign-up {
  margin-bottom: 50px;
  background: #5367f5;
  font-size: 19px;
  border-radius: 999px;
  color: #FFFFFF;
  padding: 14px 36px;
  font-weight: 500;
}

.blog-single__small-width-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
}

.blog-single__small-width-content h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 35px;
}

.blog-single__small-width-content h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 35px;
}

.getting-approach img {
  border-radius: 4px;
}

.getting-approach {
  max-width: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px;
}

.getting-approach > div {
  background: #eff0f3;
}

.getting-approach span {
  font-size: 16px;
  font-weight: 400;
  margin-top: 9px;
}

.single-chart {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
  background: #eff0f3;
}

.blog-single__small-width-content ul {
  margin: 0;
}

.blog-single__small-width-content ul li {
  margin-bottom: 40px;
}

.blog-single__bold-p-with-pl-and-bl {
  font-size: 29px;
  margin-left: 15px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 39px;
}

.blog-single__bold-p-with-pl-and-bl:after {
  content: '';
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #e5e5e5;
  border-radius: 100px;
}

.pro-tips {
  background: #edeffe;
  border-radius: 10px;
  padding: 30px 40px 30px;
  margin-bottom: 45px;
}

.pro-tips p {
  margin: 0 !important;
}

.pro-tips__heading {
  font-size: 16px;
  font-weight: 600;
  color: #5367F5;
  margin-bottom: 15px;
  display: block;
}

.blank-page-container {
  font-size: 22px;
  font-weight: 400;
  margin-top: 90px;
}

.blank-page-container p {
  margin-bottom: 40px;
}

.breadcrumb__separator {
  margin: 0 9px 0 11px;
}

.blog-single__comments-btn {
  font-size: 15px;
  font-weight: 500;
}

.blog-single__comments-btn img {
  transform: translateY(-1px);
}

.line-height-13 {
  line-height: 1.3;
}

.blog-single__small-width-content a {
  color: #5367F5;
}

.blog-single__link__arrow {
  font-size: 16px;
  display: inline-block;
  margin: 0 -3px;
  transition: .3s;
}

.blog-single__small-width-content a:hover .blog-single__link__arrow {
  transform: translate(2px, -2px);
}

.getting-approach .blog-single__link__arrow {
  font-size: 12px;
}

.getting-approach a:hover .blog-single__link__arrow {
  transform: translate(1px, -1px);
}

.blog-single__facebook-link:hover img {
  filter: invert(35%) sepia(48%) saturate(3110%) hue-rotate(201deg) brightness(97%) contrast(96%);
}

.blog-single__linkedin-link:hover img {
  filter: invert(35%) sepia(21%) saturate(3688%) hue-rotate(169deg) brightness(95%) contrast(89%);
}

.blog-single__twitter-link:hover img {
  filter: invert(49%) sepia(28%) saturate(3295%) hue-rotate(178deg) brightness(103%) contrast(90%);
}

.blog-single__pinterest-link:hover img {
  filter: invert(13%) sepia(99%) saturate(5206%) hue-rotate(346deg) brightness(87%) contrast(108%);
}

.blog-single__email-link:hover img {
  filter: invert(92%) sepia(12%) saturate(161%) hue-rotate(189deg) brightness(81%) contrast(90%);
}

.blog-single__social-medias img {
  transition: .2s;
}

.blog-single__comments__heading {
  display: block;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.on-hover-show-child:hover .single-page__pinterest {
  opacity: 1;
}

.blog__article__texts-container .article__pin {
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
}

.comment-username {
  line-height: 23px;
  @media screen and (min-width: 48em) {
    line-height: 27px;
  }
}