.brand-fonts-articles-container .article__img img {
  width: unset !important;
}

.brand-font-single__main-images {
  gap: 2px;
  padding: 30px 10px;
  background: #FFFFFF;

  @media screen and (min-width: 75em) {
    padding: 80px 30px;
  }
}

.brand-font-single__img-container {
  min-height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.brand-font-single__desc .go-to-free-dl {
  margin-bottom: 0;
}

.brand-font-single__desc__alternative-font {
  opacity: .5;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100% - 30px);
  width: 100%;
  align-self: center;
}

.brand-font-single__desc__alternative-font div {
  padding: 0 12px;
  background: #FFFFFF;
  margin: 17px 0;
}

.brand-font-single__desc__alternative-font:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background: #000000;
  z-index: -1;
  opacity: .3;
}

.font-brand-single__font-name {
  font-size: 21px;
  color: rgba(0, 0, 0);
  display: flex;
  align-items: center;
  font-weight: 600;
}

.font-brand-single__font-name h1 {
  font-size: 21px;
  font-weight: 600;
  margin: 0;
}

.similar-mockups__heading {
  font-size: 16px;
  margin: 0;
}

.brand-font-verified-icon {
  width: 11.7px;
  height: 11.7px;
  display: none;
}

.brand-font-verified .brand-font-verified-icon {
  display: inline-block;
}

.single-page__share-btn-container {
  width: 46px;
  height: 46px;
  background: #f0f1f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.single-page__comment-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  width: 46px;
  height: 46px;
  background: #f0f1f3;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 4px;
}

.single-page__comment-btn-container span {
  padding-top: 2px;
}

.brand-font__article__border {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 5px 7px;
  @media screen and (min-width: 48em) {
    padding: 0;
  }
}

.brand-font-second-pic {
  opacity: 0 !important;
}

.article__img:hover .brand-font-second-pic {
  opacity: 1 !important;
}

.article__img:hover .brand-font-first-pic {
  opacity: 0 !important;
}