.resource-section-container {
  background-color: $light-gray;
  padding-top: 25px;
  padding-bottom: 33px;
  @include media($md) {
    padding-bottom: 78px;
    padding-top: 20px;
  }

  .resource__header {
    font-weight: bold;
    margin-bottom: 17px;
    @include media($md) {
      margin-bottom: 25px;
    }
    text-align: left;
    font-size: 16px;

    @include media($md) {
      font-size: 34px;
      text-align: center;
    }
  }

  .resource__desc {
    max-width: 750px;
    margin: auto;
    font-size: 14px;
    color: #76808a;
    font-weight: 200;
    line-height: 23px;

    @include media($md) {
      text-align: center;
    }
  }

  .resource__card-container {
    color: #38424b !important;
    @include media($md) {
      margin-top: 40px;
    }
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    @include media($md) {
      flex-direction: row;
    }

    .resource__card,
    .resource__other {
      position: relative;
      margin: 10px 0 0 0;
      background-color: #fff;
      padding: 7px;
      border-radius: 3px;
      @include media($md) {
        border-radius: 7px;
      }
      min-width: 166px;
      font-size: 13px;
      cursor: pointer;
      align-self: stretch;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: $global-transition;

      .hand-drawn-arrow {
        margin: 5px;
      }

      .resource__thumbnail {
        display: flex;
        position: relative;

        @include media($md) {
          padding-top: 66%;
        }

        img {
          width: 50px;
          margin-right: 10px;
          border-radius: 3px;
          @include media($md) {
            border-radius: 7px;
          }
          @include media($md) {
            margin-right: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }

      @include media($md) {
        max-width: calc(100% / 9 - 10px);
        flex: 1 0 calc(100% / 9);
        margin: 5px;
        display: inline;

        img {
          width: auto;
        }
      }

      .resource__card__caption {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        font-size: 13px;

        @include media($md) {
          margin-top: 8px;
          font-size: unset;
          flex-direction: column;
          align-items: center;
        }
      }

      img {
        max-width: 100%;
      }

      &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 18px;
        top: calc(50% - 5px);
        width: 10px;
        height: 10px;
        display: block;
        background: #3a444d;
        mask: url("assets/images/arrow-left-dark.svg") no-repeat center;
        -webkit-mask: url("assets/images/arrow-left-dark.svg") no-repeat center;
        transform: rotate(180deg);

        @include media($md) {
          display: none;
        }
      }

      &:hover {
        box-shadow: 0 15px 15px 0 rgba(92, 104, 116, 0.15);
        transform: translateY(-3px);
      }
    }

    .resource__other {
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #38424b;
      border: 2px solid $primary-color;
      transition: $global-transition;
      font-weight: 600;
      color: $primary-color;

      @include media($md) {
        height: 143.88px;
        color: #38424b;
      }

      span {
        font-size: 13px;
        margin-left: 3px;

        @include media($md) {
          font-size: 11px;
        }
      }
    }

    .resource__other:hover {
      color: $primary-color;

    }
  }
}