.contact-us__heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  display: block;
  letter-spacing: -0.8px;

  @media screen and (min-width: 48em) {
    font-size: 40px;
  }
}

.contact-us-main .send-message {
  width: 222px;
  height: 57px;
  background: #000000;
  color: #ffffff;
  margin-top: 30px;
  border-radius: 99999px;
}

.contact-us-main form {
  font-size: 19px !important;
}

.contact-us-main {
  margin-top: 40px;
  margin-bottom: 100px;
  @media screen and (min-width: 62em) {
    margin-top: 85px;
    max-width: 964px !important;
  }
}

.contact-us-main form input {
  padding: 14px 20px;
}

.contact-us-main form textarea {
  padding: 14px 20px;
  font-weight: 500;
}


.contact-us-main input {
  height: 56px;
}

.contact-us-main input, textarea {
  background: #f0f1f3;
  border-radius: 10px;
}

.contact-us-main label, textarea {
  margin-top: 30px !important;
}

.contact-us-main label:first-child {
  margin-top: 15px !important;
}

.contact-us-main input::placeholder, textarea::placeholder {
  color: #000000;
  opacity: .5;
}

.contact-us-main textarea {
  border: none;
}

.contact-us-desc p {
  margin-bottom: 29px;
  font-size: 18px;
  font-weight: 400;
  @media screen and (min-width: 48em){
    font-size: 15px;
  }
}