.font-article {
  margin: 0;
}

.font-article .article__img {
  padding-right: 30px;
}

.fonts-filters-container {
  padding-top: 28px;
  white-space: nowrap;
  flex-wrap: wrap;
  row-gap: 15px;
}

.fonts-filters-container > * {
  margin-right: 38px;
}

.fonts-filters-container > .nice-select {
  margin-right: 25px !important;
}

.fonts-filters__font-size-icon {
  margin-right: 10px;
}

.show-variants-checkbox {
  margin-right: 10px;
  position: relative;
  font-size: 13px;
  appearance: none;
  width: 15px;
  height: 15px;
}

.show-variants-checkbox:after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

.show-variants-checkbox:checked:after {
  border-color: #5367f5;
}


.show-variants-checkbox:before {
  content: '';
  background: url("assets/images/check-box-checked-icon.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.show-variants-checkbox:checked:before {
  opacity: 1;
}

.show-variants-checkbox:checked:before {
  //background: url("");
}

.show-variants-icon {
  margin-left: 6px;
}

.fonts-filters__info-icon {
  margin-right: 6px;
}

.fonts-filters__reset-btn {
  background: transparent;
  font-size: 13px;
  font-weight: 500;
}

.fonts-filters-container label {
  cursor: pointer;
}

.fonts-filters-container input[type="range"] {
  cursor: pointer;
}


.fonts-filters__range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #DEDFE2;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 999px;
}


.fonts-filters__range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #000000;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.fonts-filters__range-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #000000;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}


.font-article__right-side {
  height: 81px;
  align-self: start;
  margin-top: 31px;
}


.fonts-filters__number-of-products {
  width: 78px;
  height: 36px;
}

.fonts-filters__sample-text-container {
  position: relative;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  width: 305px;
}

.fonts-filters__sample-text-container .custom-select {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.fonts-filters__sample-text-container input {
  margin-right: 30px;
  position: relative;
  z-index: 5;
  height: 100%;
  padding-left: 18px;
  border-radius: 18px 0 0 18px;
  background: #f0f1f3;
}

.fonts-filters__sample-text-container .custom-select {
  width: 100%;
}

.font-single-main .articles {
  padding-top: 25px;
}

.font-single-main .go-to-free-dl-cm {
  background: #000000;
}

.font-single-main .related-categories a {
  background: #F0F1F3;
  border-radius: 999999999px;
  color: rgba(0, 0, 0, 0.5);
  padding: 6.5px 17px;
  white-space: nowrap;
  font-size: 13px;
}

.related-categories__heading {
  display: block;
  font-size: 13px;
  margin-bottom: 30px;
}

.font-single__show-and-hide__related-categories {
  background: transparent;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 500;
}

.font-single-main .single-page__desc {
  border-left: none !important;
}

.font-single__main-product {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-top: 25px;
}

.font-single__license {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.font-single__license > span:first-child {
  margin-right: 25px;
}

.related-categories {
  margin-top: 35px;
  padding-top: 35px;
  border-top: 1px solid #e5e5e5;
}

.related-categories > .d-flex {
  gap: 10px;
}

.related-categories {
  overflow: hidden;
  position: relative;
  transition: .3s;
}

.related-categories.closed {
  height: 208px !important;
}

.related-categories:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent, #ffffff);
  height: 0;
  transition: .3s;
}

.related-categories.closed:after {
  height: 50px;
}

.font-articles-container .article__img img {
  position: unset !important;
  transform: unset !important;
  left: unset !important;
  top: unset !important;
}

.font-articles-container .article__img {
  padding-top: 0 !important;
}

.comments-number {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.font-single__tabs {
  margin-top: 100px;
  max-width: 715px;
}

.font-single__tabs a {
  color: #5367F5;
}

.font-single__tabs button {
  background: transparent;
  padding: 5px 0;
  position: relative;
  margin-right: 25px;
  opacity: .5;
  font-size: 15px;
  font-weight: 500;
}

.font-single__tabs button.active {
  opacity: 1;
}

.font-single__tabs button.active:after {
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  border-radius: 10000000px;
  position: absolute;
  background: #000000;
}

.font-single__tabs-content {
  opacity: .8;
  margin-top: 25px;
}

.font-single-main .single-page__desc {
  min-height: 560px !important;
}

.popular-btn, .newest-btn {
  padding: 8px 0;
}

.similar-fonts__heading {
  margin-bottom: 20px;
  display: block;
}

.fonts-filters-container > label {
  color: rgba(0, 0, 0, 0.8);
}

.fonts-filters__reset-btn {
  color: rgba(0, 0, 0, 0.8);
}

.line-height-0 {
  line-height: 0;
}

.fs-13 {
  font-size: 13px;
}

.font-single__main-heading {
  font-size: 26px;
  @media screen and (min-width: 48em) {
    font-size: 34px;
  }
}

.font-single__main-heading sub {
  font-size: 13px;
  bottom: 0;
  left: 13px;
  opacity: .8;
  transition: .2s;
  letter-spacing: 0 !important;
}

.font-single__main-heading sub:hover {
  opacity: 1;
}
.font-single-main .single-page__desc{
  padding-right: 0 !important;
}

.font-single__tabs__carousel .swiper-slide{
  //flex-shrink: 0;
  width: auto;
}

.font-single__tabs__carousel{
  white-space: nowrap;
}

.font-single__tabs-slider__button-next {
  transition: .3s;
  background: #ffffff;
  right: -57px;
  width: 130px;
  background: linear-gradient(-90deg, #ffffff 48%, transparent 100%);
}

.font-single__tabs-slider__button-next:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-single__tabs-slider__button-prev {
  transition: .3s;
  background: #ffffff;
  left: -57px;
  width: 130px;
  background: linear-gradient(90deg, #ffffff 48%, transparent 100%);
}

.font-single__tabs-slider__button-prev.swiper-button-disabled {
  opacity: 0;
}

.font-single__tabs-slider__button-next.swiper-button-disabled {
  opacity: 0;
}

.font-single__tabs-slider__button-prev:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.font-single__tabs-slider__button-next:after {
  content: none;
}

.font-single__tabs-slider__button-prev:after {
  content: none;
}