.footer {
  font-weight: 500;
  padding: 38px 0;
  line-height: 20px;
  margin: 118px 34px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  color: #737b82;

  @include media($md) {
    padding: 40px 0;
  }
  @include media($md) {
    padding: 15px 0;
  }
  @include media($lg) {
    padding: 28px 0;
    flex-direction: row;
    text-align: unset;
    gap: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    flex-wrap: wrap;
    @include media($md) {
      font-size: 14px;
    }

    li:not(:last-child) {
      margin-right: 30px;
    }

    a {
      white-space: nowrap;
      transition: $global-transition;
      color: #000000;
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer__copyright {
    margin: 0;
  }
}

.footer__texts-container {
  font-size: 13px;
}

.footer__texts-container p {
  color: rgba(0, 0, 0, 0.8);
}

.footer__texts-container > p:first-child {
  margin-bottom: 20px;
}

.footer__heart-container {
  color: #5367F5;
}

.footer__heart-container {
  animation: heart-beat 0.25s infinite alternate;
  display: inline-block;
}

@keyframes heart-beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.flyers__desc button {
  background: transparent;
  font-weight: 500;
}