.header {
  position: sticky;
  top: 0;
  z-index: 200;

  .header-dark {
    display: none;

    @include media($md) {
      display: block;
    }

    .container {
      display: flex;
      padding-top: 13.75px;
      padding-bottom: 13.75px;
      justify-content: space-between;

      .header__logo {
        max-width: 148px;
      }

      form {
        border-radius: 21px;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgb(37, 45, 54);
        height: 42px;
        padding-left: 22px;
        margin-left: 2.3%;
        transition: $global-transition;


        .header__search-icon {
          width: 17px;
        }

        input {
          width: 100%;
          background: transparent;
          border: none;
          padding-left: 15px;
          color: $dark-blue1;
        }

        .dark-search-icon {
          display: none;
        }

        .search-icon {
          display: inline;
        }

        &:hover {
          background-color: white;
          cursor: pointer;

          .dark-search-icon {
            display: inline;
          }

          .search-icon {
            display: none;
          }

          ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $dark-blue1;
            opacity: 1;
            /* Firefox */
          }

          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $dark-blue1;
          }

          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $dark-blue1;
          }
        }
      }

      .header__search-close-btn {
        width: 15px;
        float: right;
        cursor: pointer;
        display: none;
      }
    }
  }

  .header-light {
    display: none;
    position: relative;
    background: white;

    @include media($md) {
      display: block;
    }

    box-shadow: 0 1px 21px 0 rgba(92, 104, 116, 0.1);

    .header-light__navigation {
      display: flex;
      list-style: none;
      justify-content: flex-start;
      font-size: 13px;
      @include media($lg) {
        font-size: 14px;
      }

      > li {
        white-space: nowrap;
        position: relative;

        &:not(:first-child) {
          @include media($lg) {
            margin-left: 43px;
          }

          margin-left: 15px;
        }

        &:after {

          content: '';
          position: absolute;
          width: 120%;
          height: 2px;
          background-color: $primary-color;
          left: -10%;
          bottom: 0;
          transition: $global-transition;
          opacity: 0;
        }

        &:hover:after {
          opacity: 1;
        }

        a {
          padding: 18px 0;
          display: inline-block;
          height: 54px;
          color: #484d56;
        }
      }

      .menu-item-has-children {
        min-width: 67px;

        overflow: hidden;

        .sub-menu {
          position: absolute;
          display: inline;
          left: -45px;
          top: 100%;
          list-style: none;
          padding: 21px 50px;
          background-color: white;
          box-shadow: 0 7px 15px 0 rgba(92, 104, 116, 0.15);
          border-radius: 0 0 13px 13px;
          transition: $global-transition;
          opacity: 0;
          transform: translateY(100px);
          z-index: -1;

          a {
            display: block;
            padding: 12px 0;
            transition: $global-transition;
            font-size: 13px;
            color: #545964;
            height: 40px;

          }

          a:hover {
            color: $primary-color;
          }

        }

        .show {
          opacity: 1;
          transform: translateY(0);
          z-index: 10;
        }
      }
    }
  }

  .header-mobile {
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    @include media($md) {
      display: none;
    }

    .header-mobile__left-side {
      display: flex;
      height: 100%;
      align-items: center;
      width: 100%;
    }

    .header-mobile__right-side {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .header-mobile__logo {
      height: fit-content;
      width: 135px;
    }

    img {
      width: 19px;
      height: 19px;
    }

    button {
      height: 100%;
      padding: 0 17px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }


  .header-mobile__search {
    background-color: $dark-blue;
    padding: 0 17px;
    height: 64px;
    overflow: hidden;
    transition: $global-transition;
    position: absolute;
    width: 100%;
    z-index: 100;

    form {
      margin-top: 5px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 5000px;
      height: 42px;
      padding: 0 23px;
      transition: $global-transition;
      overflow: hidden;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 15px;
    }

    input {
      width: 100%;
      color: $dark-blue;
    }
  }

  .header-mobile__search {
    @include media($md) {
      display: none;
    }
  }

  .header-mobile__menu {
    overflow: scroll;
    background-color: $dark-blue;
    color: #99a8b5;
    transition: $global-transition;
    position: absolute;
    width: 100%;
    z-index: 50;
    height: 100vh;
    max-height: 100vh;
    font-size: 17px;
    font-weight: 100;
    pointer-events: none;
    z-index: 15;

    @include media($md) {
      display: none;
    }

    h3 {
      font-weight: 100;
      font-size: 17px;
      margin: 27px 0 14px 0;
      padding-left: 20px;
    }

    > ul > li {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: .2s;

      a {
        padding: 14px 0 14px 20px;
        display: inline-block;
        width: 85%;
      }

      .sub-menu {
        border-left: #2e3843 1px solid;
        margin-left: 20px;
        padding-left: 20px;
        list-style: none;
        margin-bottom: 20px;
      }
    }
    .menu-item-has-children:after {
      content: '';
      position: absolute;
      right: 0;
      top: 20px;
      width: 40px;
      height: 10px;
      transition: $global-transition;
      background-color: #99a8b5;
      mask: url(assets/images/arrow-down.svg) no-repeat center / contain;
      -webkit-mask: url(assets/images/arrow-down.svg) no-repeat center / contain;
      mask-size: 10px;
      -webkit-mask-size: 10px;
    }
    li:not(.is-open) {
      max-height: 49px !important;
    }


    li.is-open {
      background-color: #19212a;

      > a {
        color: white;
      }

      &:after {
        background-color: #fff;
        transform: rotate(-180deg);
      }
    }

    .header-mobile__menu__nav {
      list-style: none;
      a{
        color: #99a8b5 !important;
      }
    }
  }
}

.hide {
  height: 0 !important;
}
