.index__header {
  background: #ffffff;
  padding: 0 25px 0;

  @media screen and (min-width: 48em) {
    padding: 0 34px 0;
  }

  .header-scroll-btn {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 20;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    display: none;
    //@media screen and (max-width: 1166px) {
    //display: inline;
    //}
  }

  .header-scroll-btn.left {
    background: linear-gradient(90deg, #11181f 70%, rgba(17, 24, 31, 0));
    left: 168px;

    &:before {
      content: '';
      background-color: #9dacb8;
      background-size: 10px 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      mask: url("assets/images/arrow-left-dark.svg") no-repeat center;
      -webkit-mask: url("assets/images/arrow-left-dark.svg") no-repeat center;
      height: 10px;
    }

    cursor: pointer;

    &:hover:before {
      background-color: #fff;
    }

  }

  .header-scroll-btn.right {
    background: linear-gradient(-90deg, #11181f 70%, rgba(17, 24, 31, 0));
    right: 0;

    &:before {
      content: '';
      cursor: pointer;
      background-color: #9dacb8;
      background-size: 10px 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      mask: url("assets/images/arrow-right.svg") no-repeat center;
      -webkit-mask: url("assets/images/arrow-right.svg") no-repeat center;
      height: 10px;
    }

    cursor: pointer;

    &:hover:before {
      background-color: #fff;
    }
  }

  position: sticky;
  top: 0;
  z-index: 200;

  .header__logo-container {
    display: flex;
    align-items: center;
    z-index: 10;
    height: 100%;
    align-self: center;
    margin-right: 60px;

    @media screen and (max-width: 1300px) {
      position: unset;
    }

    .header__logo {
      display: none;

      @include media($md) {
        display: block;
      }

      max-width: 148px;
    }
  }

  .header-dark {
    justify-content: space-between;
    align-items: stretch;
    height: 70px;
    display: none;

    @include media($lg) {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    .header-light {
      height: 70px;
      padding-left: 40px;
      width: fit-content;

      nav {
        height: 100%;

        > ul {
          height: 100%;

          li {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .header-light {
    scroll-behavior: smooth;
    text-align: left;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }

    display: none;
    position: relative;

    @include media($md) {
      display: flex;
    }


    .header-light__navigation {
      &::-webkit-scrollbar {
        display: none;
      }

      margin-left: 75px;
      display: flex;
      list-style: none;
      font-size: 14px;

      @include media($md) {
        margin-left: 0;
      }

      > li {
        white-space: nowrap;
        position: relative;
        font-size: 16px;

        &:not(:first-child) {
          margin-left: 33px;
        }

        a {
          padding: 18px 0;
          display: inline-block;
          transition: $global-transition;
        }
      }

      .menu-item-has-children {

        .sub-menu {
          border-radius: 10px;
          position: absolute;
          display: inline;
          top: 54px;
          list-style: none;
          padding: 10px 20px 10px;
          background-color: #000000;
          box-shadow: 0 7px 15px 0 rgba(92, 104, 116, 0.15);
          transition: 0.2s;
          color: rgba(255, 255, 255, 0.8);

          li:last-child {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
          }

          li:last-child a {
            padding-top: 13px;
          }

          li:nth-last-child(2) a {
            padding-bottom: 13px;
          }

          a {
            display: block;
            padding: 3.5px 0;
            transition: $global-transition;
            font-size: 14px;
            width: 100%;
          }

        }
      }
    }
  }

  .header-mobile {
    padding: 13px 0 1.5px 0;
    height: 100%;

    @include media($lg) {
      display: none;
    }

    .header-mobile__left-side {
      display: flex;
      height: 100%;
      align-items: center;
      width: 100%;
    }

    .header-mobile__right-side {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }

    .header-mobile__logo {
      height: fit-content;
      width: 40px;

      img {
        width: 22.45px !important;
      }
    }

    img {
      width: 17px;
      height: 14px;

      @media screen and (min-width: 48em) {
        width: 19px;
        height: 19px;
      }
    }

    button {
      height: 100%;
      padding: 0 17px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }


  .header-mobile__search {
    background-color: $dark-blue;
    padding: 0 17px;
    height: 54px;
    overflow: hidden;
    transition: $global-transition;
    position: absolute;
    width: 100%;
    z-index: 100;

    form {
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 5000px;
      height: 41px;
      padding: 0 23px;
      transition: $global-transition;
      overflow: hidden;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 15px;
    }

    input {
      width: 100%;
      color: $dark-blue;
    }
  }

  .header-mobile__search {
    @include media($md) {
      display: none;
    }
  }

}

.hide {
  height: 0 !important;
}

.header__search-container {
  background: #f0f1f3;
  border-radius: 999999999px;
  height: 36px;
  display: flex;
  align-items: center;
  width: calc(100vw - 146px);
  font-weight: 500;

  @media screen and (min-width: 48em) {
    width: calc(100vw - 162px);
  }

  @media screen and (min-width: 62em) {
    max-width: 483px;
  }
}

.header__search-container input {
  background: transparent;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
}

.header__search-container img {
  margin-right: 12px;
}

.header__search-container input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}


.search-page__search-input {
  background: #ffffff;
  border-radius: 999999999px;
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  max-width: 530px;
  position: relative;
  width: 100%;
  margin: auto;
  font-size: 14px;

  @media screen and (min-width: 48em) {
    width: calc(100vw - 120px);
    font-size: 16px;
  }
}

.search-page__search-input input {
  background: transparent;
  height: 100%;
  width: 100%;
}

.search-page__search-input img {
  margin-right: 12px;
}

.search-page__search-input input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}


.header-mobile .header-light__navigation {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0 !important;
}

.header-mobile .header-light__navigation li {
  flex-shrink: 1;
  white-space: nowrap;
  font-size: 14px;
}

.header__categories-slider {
  margin-top: 10px;
  position: relative;
}


.header__categories-slider li {
  display: flex;
  align-items: center;
  max-width: min-content;
}

.header__categories-slider__button-next {
  transition: .3s;
  background: #ffffff;
  right: -57px;
  width: 130px;
  background: linear-gradient(-90deg, #ffffff 48%, transparent 100%);
}

.header__categories-slider__button-next:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__categories-slider__button-prev {
  transition: .3s;
  background: #ffffff;
  left: -57px;
  width: 130px;
  background: linear-gradient(90deg, #ffffff 48%, transparent 100%);
}

.header__categories-slider__button-prev.swiper-button-disabled {
  opacity: 0;
}

.header__categories-slider__button-next.swiper-button-disabled {
  opacity: 0;
}

.header__categories-slider__button-prev:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.header__categories-slider__button-next:after {
  content: none;
}

.header__categories-slider__button-prev:after {
  content: none;
}

.header-mobile__menu {
  color: rgba(255, 255, 255, 0.8);
  width: max-content;
  pointer-events: none;
  z-index: 50;
  opacity: 0;
  border-radius: 10px;
  position: absolute;
  display: inline;
  top: calc(100% + 15px);
  list-style: none;
  padding: 10px 20px 10px;
  background-color: #000000;
  box-shadow: 0 7px 15px 0 rgba(92, 104, 116, 0.15);
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.8);
  right: 0;

  li:last-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  li:last-child a {
    padding-top: 13px;
  }

  li:nth-last-child(2) a {
    padding-bottom: 13px;
  }

  a {
    display: block;
    padding: 3.5px 0;
    transition: $global-transition;
    font-size: 14px;
  }

  a:hover {
    color: $primary-color;
  }

}

.header-mobile__menu a {
  padding: 3px 0;
  display: block;
}

.header-mobile__menu li:last-child {
  display: flex;
}

.header__categories-slider {
  overflow: visible;
  overflow-x: hidden;
}

.sub-menu {
  transform: translateY(0px);
  opacity: 0;
  pointer-events: none;
  right: 0;
}

.sub-menu.show {
  transform: translateY(15px);
  opacity: 1;
  pointer-events: unset;
}

li.menu-item-has-children:before {
  content: '';
  width: 30px;
  height: 30px;
  bottom: 0;
  left: -30px;
  position: absolute;
}

.header__search-container .custom-select {
  width: 0;
  opacity: 0;
  padding-right: 0;
  @media screen and (min-width: 48em) {
    padding-right: 20px;
    padding-left: 20px;
    width: 130px;
    opacity: 1;
  }
}

.menu__slash {
  color: rgb(255, 255, 255, .2);
  display: flex;
  justify-content: center;
  margin: 0 13px;
  align-items: center;
  padding-top: 13px;
  font-size: 13px;
}

.header__search__separator {
  height: 21px;
  width: 1px;
  background: #707070;
  opacity: .2;
  margin-right: 15px;
  margin-left: 2px;
}

.header__search-container label {
  width: calc(100% - 36px);

  @media screen and (min-width: 48em) {
    width: calc(100% - 150px);
  }
}