.index__search-section {
  #popup {

  }

  h1 {
    text-align: center;
    margin-bottom: 27px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    letter-spacing: -0.8px;

    @include media($md) {
      font-size: 40px;
    }
  }

  .search-box {
    font-weight: 400;
    max-width: 820px;
    font-size: 17px;
    height: 46px;
    @include media($md) {
      width: 62%;
      height: 47px;
      max-width: 429px;
    }
    margin: 0 auto 50px auto;
    background: #F0F1F3;
    border-radius: 50000000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6px;
    overflow: hidden;

    .search-box__input {
      margin: 0;
      width: calc(100% - 53px);
      height: 100%;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        padding-left: 25px;
        font-size: 13px;
        background: transparent;

        @include media($md) {
          font-size: 14px;
        }
        font-weight: 500;
      }
    }

    .search-box__button {

      button {
        margin: 0;
        @include media($md) {
          height: 35px;
          width: 73px;
        }
        width: 39px;
        height: 39px;
        border-radius: 9999999px;
        background-color: #5367F5;
        cursor: pointer;
      }
    }
  }

  .search-icon:after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    @include media($md) {
      height: 15px;
      width: 15px;
    }
    margin: auto;
    background-size: 25px 25px;
    background-image: url(assets/images/search-white.svg);
    background-repeat: round;
  }
}

.index__articles {
  //padding: 0 13px;
  background-color: white;
}

.index__resource-section {
  padding-bottom: 19px;
  padding-top: 34px;

  @include media($md) {
    padding-bottom: 35px;
    padding-top: 92px;
    padding-left: 37px;
  }

  .index__resource {
    color: #11181f;
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 17px;
    width: calc(100% + 15px);
    @include media($md) {
      width: 100%;
      overflow: unset;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
    }


    .desktop-size-hand-drawn-arrow {
      font-weight: bold;
      width: 12%;
      margin: 10px;
      font-size: 25px;
      align-items: center;
      min-width: 200px;
      display: none;

      @include media($md) {
        display: flex;
      }

      img {
        width: 60px;
        transform: translateY(-23px) translateX(-10px);
      }
    }

    a {
      margin: 10px;
      background-color: white;
      border-radius: 7px;
      text-align: center;
      padding: 5px;
      transition: $global-transition;
      min-width: 145px;
      margin-right: 3px;
      @include media($md) {
        &:last-child {
          transform: translateX(0px);

          &:hover {
            transform: translateX(0px) translateY(-3px);
          }
        }
        width: 13%;
        min-width: 200px;
      }

      @media screen and (min-width: 1200px) and (max-width: 1340px) {
        &:last-child {
          transform: translateX(-216px);

          &:hover {
            transform: translateX(-216px) translateY(-3px);
          }
        }

      }

      &:hover {
        box-shadow: 0 15px 15px 0 rgba(92, 104, 116, 0.15);
        transform: translateY(-3px);

      }

      img {
        width: 100%;
        max-width: 100%;
      }

      .resource__card__caption {
        @include media($md) {
          padding: 7px;
          font-size: 14px;
        }
        font-size: 10px;
        padding: 2px;
      }

      &:first-of-type {
        margin-left: 0 !important;
      }

      &:last-of-type {
        margin-right: 15px;
        @include media($md) {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.RB-exclusives__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.RB-exclusives__titre {
  font-size: 15px;
}

.RB-exclusives__heading a {
  font-size: 13px;
}

.RB-exclusives__cards-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: calc(50% - 6.66px) calc(50% - 6.66px);

  @media screen and (min-width: 62em) {
    grid-template-columns: calc(25% - 11.33px) calc(25% - 11.33px) calc(25% - 11.33px) calc(25% - 11.33px);
  }

  @media screen and (min-width: 75em) {
    grid-gap: 20px;
    grid-template-columns: calc(20% - 16px) calc(20% - 16px) calc(20% - 16px) calc(20% - 16px) calc(20% - 16px);
  }
}

.RB-card {
  text-decoration: none;
}

.RB-card__text {
  margin-top: 10px;
  opacity: .8;
  font-size: 13px;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-weight: 400;
}

.RB-card__img {
  border-radius: 4px;
  overflow: hidden;
}

.RB-exclusives hr {
  background: rgba(0, 0, 0);
  opacity: .1;
  margin: 45px 0 0;
}

.masonry-item {
  width: calc(50% - 6.66px);

  @media screen and (min-width: 48em) {
    width: calc(33.33% - 11.33px);
  }

  @media screen and (min-width: 62em) {
    width: calc(25% - 11.33px);
  }

  @media screen and (min-width: 75em) {
    width: calc(20% - 16px);
  }
}

.gutter-sizer {
  width: 10px;

  @media screen and (min-width: 48em) {
    width: 15px;
  }

  @media screen and (min-width: 75em) {
    width: 20px;
  }
}

.have-border {
  border: 1px solid #e5e5e5;
}

.articles-container__heading {
  font-size: 15px;
}

.article__caption h2 {
  font-size: 12px;
}

.RB-exclusives h2 {
  font-size: 13px;
}

.index__main-container {
  @media screen and (min-width: 75em) {
    padding: 0 55px !important;
  }
}

.popup .single-page__desc{
  min-height: unset !important;
}