.categories-slider .swiper-slide {
  background: #F0F1F3;
  border-radius: 999999999px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  white-space: nowrap;
  flex-shrink: 1;
  font-size: 0.8rem;
}

.back-location {
  display: inline-block;
  font-size: 15px;
  margin-top: 23px;
  margin-bottom: 21px;

  @media screen and (min-width: 48em) {
    margin-top: 48px;
  }
}

.back-location__arrow {
  display: inline-block;
  margin-right: 8px;
}

.aside-search-container {
  padding-top: 53px;
}

.aside-search-container > div {
  position: sticky;
  top: 116px;
  left: 0;

  @media screen and (min-width: 62em) {
    top: 80px;
  }
}

.aside-search-container ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 20px;
  line-height: 24.8px;
}

.aside__heading {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.aside__heading img {
  margin-right: 10px;
}

.aside-search-container {
  width: 100%;

  @media screen and (min-width: 36em) {
    width: 180px;
  }

  @media screen and (min-width: 62em) {
    width: 250px;
  }
}

.aside-search-container + section {
  width: 100%;

  @media screen and (min-width: 36em) {
    width: calc(100% - 160px);
  }

  @media screen and (min-width: 62em) {
    width: calc(100% - 250px);
  }
}

.popular-btn {
  font-size: 15px;
  margin-right: 10px;
  @media screen and (min-width: 62em) {
    margin-right: 30px;
  }
}

.newest-btn {
  font-size: 15px;
  margin-right: 15px;
  @media screen and (min-width: 62em) {
    margin-right: 40px;
  }
}

.flyers__desc p {
  overflow: hidden;
  position: relative;
  transition: .3s;
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 400;
  color: #000000;
  opacity: .7;
}

.flyers__desc button {
  font-size: 13px;
  opacity: .7;
}

.flyers__desc p:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(transparent, #ffffff);
  transition: .3s;
}

.flyers__desc.closed p {
  max-height: 60px !important;
}

.flyers__desc.closed p:after {
  height: 100%;
}

.commercial-checkbox-container {
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;

  //@media screen and (min-width: 62em) {
  //  margin-bottom: 20px;
  //}
}

.commercial-checkbox-container img {
  margin-left: 5px;

  @media screen and (min-width: 62em) {
    margin-left: 7px;
  }
}

.commercial-checkbox-container input {
  appearance: none;
  width: 28px;
  height: 15px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;

  @media screen and (min-width: 62em) {
    margin-right: 10px;

  }
}

.commercial-checkbox-container input:before {
  content: '';
  width: inherit;
  height: inherit;
  background: #dedfe2;
  display: block;
  border-radius: 99px;
  transition: .3s;
}

.commercial-checkbox-container input:checked:before {
  background: #5367f5;
}

.commercial-checkbox-container input:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #000000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: .3s;
  border-radius: 50%;
}

.commercial-checkbox-container input:checked:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: calc(100% - 11px);
}

.commercial-use-badge {
  font-weight: 600;
  transition: .3s;
  font-size: 13px;
  background: rgba(83, 103, 245, 0.08);
  border: 2px solid rgba(83, 103, 245, 0.7);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.5px 12px 5.5px 14px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

.commercial-use-badge.active {
  opacity: 1;
  pointer-events: unset;
}

.commercial-use-badge img {
  margin-left: 5px;
  width: 14px;
}

.commercial-use-badge button {
  background: transparent;
}

.cards-section__header {
  position: relative;
  white-space: nowrap;
}

.cards-section__header .have-button-active-effect {
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #000000;
}

.cards-section__header button {
  background: transparent;
  position: relative;
  opacity: .7;
  font-weight: 500;
  transition: .2s;
}

.cards-section__header .active {
  opacity: 1;
}

.article__titre {
  font-size: 12px;

  @media screen and (min-width: 62em) {
    font-size: 13px;
  }
}

.article__pin {
  display: none;
  width: 8px !important;
  margin-right: 10px;
  user-select: none;
}

.pin .article__pin {
  display: inline-block;
  z-index: 5;
}

article {
  position: relative;
}

.versions-number {
  cursor: pointer;
  transition: .3s;
  border-radius: 100000000px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 15px;
  top: 17px;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 10px;
  align-items: center;
  justify-content: center;
  display: none;
}

.have-version-number .versions-number {
  display: flex;
}

.versions-number img {
  width: 13px !important;
  margin-right: 4px;
}

.versions-number:hover .versions__desc {
  opacity: 1;
}

.versions__desc {
  transition: .3s;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  background: #000000;
  width: 214px;
  padding: 15px;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
}

.versions__desc:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(45deg);
  background: #000000;
  width: 13px;
  height: 13px;
  border-radius: 1px;
}

.flyers__desc__heading {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: .7;
}

.aside__search-field {
  font-size: 13px;
}

.aside__search-field input[type='search'] {
  margin-left: 10px;
  font-weight: 500;
}

.aside__search-field label {
  border-bottom: 1px solid transparent;
  transition: .2s;
  padding-bottom: 2px;
  width: 100%;
}

.aside__search-field label:hover {
  border-bottom: 1px solid #e5e5e5;
}

.aside__search-field label input {
  opacity: .5;
  width: calc(100% - 22px);
}

.aside__search-field label img {
  opacity: .5;
  transition: .2s;
}

.aside__search-field label:hover img {
  opacity: 1;
}


.aside__search-field ul {
  margin-bottom: 5px;
  overflow: hidden;
  transition: .2s;
}

.aside__search-field ul li a {
  opacity: .5;
  transition: .2s;
}

.aside__search-field ul li a:hover {
  opacity: 1;
}

.aside__search-field input[type='search']::placeholder {
  color: #000000;
}

.aside__search-field a {
  color: #000000;
}

.header__categories-slider {
  height: 44px;
}

.categories-slider__button-next {
  transition: .3s;
  background: #ffffff;
  right: -78px;
  width: 170px;
  background: linear-gradient(-90deg, #ffffff 48%, transparent 100%);
}

.categories-slider__button-next:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories-slider__button-prev {
  transition: .3s;
  background: #ffffff;
  left: -78px;
  width: 170px;
  background: linear-gradient(90deg, #ffffff 48%, transparent 100%);
}

.categories-slider__button-prev.swiper-button-disabled {
  opacity: 0;
}

.categories-slider__button-next.swiper-button-disabled {
  opacity: 0;
}

.categories-slider__button-prev:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/swiper-angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.categories-slider__button-next:after {
  content: none;
}

.categories-slider__button-prev:after {
  content: none;
}

.mockup-single__load-more {
  width: 100%;
  max-width: 766px;
  height: 46px;
  background: #F3F4F5;
  border-radius: 9999px;
  margin: 30px auto 0;
  font-size: 15px;
  transition: .3s;
  overflow: hidden;
  font-weight: 500;
}

.mockup-single__explore-related-categories > span {
  font-size: 15px;
  display: block;
  margin-bottom: 25px;
  margin-top: 60px;
}

.mockup-single__explore-related-categories a {
  font-size: 13px;
  background: #F3F4F5;
  border-radius: 999px;
  color: rgba(0, 0, 0, 0.5);
  padding: 6px 22px;
  margin: 0 3px;
}

.single-page__img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: .5s;
}

.single-page__img-container > div {
  max-width: 100%;

  @media screen and (min-width: 87.5em) {
    //max-width: calc(100% - 230px);
    max-width: calc(100% - 126px);
  }
}

.single-page__img-container.closed {
  position: relative;
}

.single-page__img-container.closed:after {
  content: '';
  width: 100%;
  height: 65px;
  background: linear-gradient(transparent, #ffffff 80%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.single-page__desc {
  padding: 0 0 30px;
  margin-top: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  @media screen and (min-width: 62em) {
    padding: 0 25px 0 45px;
    max-width: 430px;
    width: 100%;
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  @media screen and (min-width: 75em) {
    padding: 0 25px 0 45px;
  }

  @media screen and (min-width: 87.5em) {
    max-width: 486px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 25px 0 60px;
  }
}

.single-page__desc table td {
  padding-bottom: 6px;
}

.single-page__img-container {
  width: 100%;
}

.single-page__desc__contributor {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}

.single-page__desc__exclusive {
  font-size: 12px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  @media screen and (min-width: 87.5em) {
    cursor: default;
  }
}

.single-page__desc__exclusive img {
  @media screen and (min-width: 87.5em) {
    margin-right: 6px;
  }
}

.single-page__desc__exclusive:hover .exclusive-badge {
  opacity: 1;
}

.single-page__desc__heading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 18px;
  display: block;
  line-height: 28px;

  @media screen and (min-width: 62em) {
    font-size: 21px;
  }
}

.single-page__desc table {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  min-width: 290px;
  margin-top: 22px;
}

.go-to-free-dl {
  border-radius: 999px;
  background: #5367F5;
  color: #ffffff;
  height: 44px;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 500;

  @media screen and (min-width: 62em) {
    font-size: 15px;
  }
}

.go-to-free-dl-cm {
  border-radius: 999px;
  background: #39B4AC;
  color: #ffffff;
  height: 44px;
  font-size: 13px;
  font-weight: 500;

  @media screen and (min-width: 62em) {
    font-size: 15px;
  }
}

.go-to-free-dl__cm-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.single-page__desc p {
  font-size: 14px;
  margin-top: 32px;
  transition: .3s;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  margin-bottom: 12px;
}

.single-page__desc p a {
  color: #5367F5;
}

.single-page__desc p:after {
  content: '';
  width: 100%;
  height: 0px;
  background: linear-gradient(transparent, #ffffff);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s;
}

.single-page__desc p.closed:after {
  height: 56px;
}

.single-page__desc p.closed {
  height: 115px !important;
  opacity: .7;
  margin-bottom: -3px;
}

.single-page__desc__show-more {
  font-size: 13px;
  background: transparent;
  font-weight: 500;
}

.single-page__img-container a {
  position: absolute;
  top: 18px;
  left: 18px;
}

.aside__search-field > button {
  padding-left: 20px;
  background: transparent;
  font-weight: 500;
}

.aside-search-container {
  margin-bottom: 40px;
  padding-right: 10px;

  @media screen and (min-width: 62em) {
    margin-bottom: 0;
  }
}

.share-w-pinterest {
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

.single-page__slider .swiper-slide > .position-relative:hover .share-w-pinterest {
  opacity: 1;
}

.share-w-pinterest img {
  margin: 0 !important;
  width: 36px;
  height: 36px;

  @media screen and (min-width: 62em) {
    width: unset;
    height: unset;
  }
}

.mockup-single__img__btns-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 85px;

  @media screen and (min-width: 75em) {
    width: 125px;
  }

  @media screen and (min-width: 87.5em) {
    width: 165px;
    display: flex;
  }
}

.share-btns-container {
  position: absolute;
  left: -10px;
  top: 0;
  transform: translate(-100%);
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 225px;
  width: 50vw;
}

.share-btns-container img {
  margin: 0;
  background: transparent;
}

.share-btns-container button {
  background: transparent;
}

.mockup-single__copy-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
  margin: 20px 0 0;
  font-size: 11px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.mockup-single__copied-icon {
  overflow: hidden;
  display: flex;
  transition: .3s;
  height: 19px;
  margin-top: 13px;
}

.mockup-single__copied-icon img {
  max-width: 67px;
  cursor: pointer;
}

.mockup-single__copied-icon img:last-child {
  max-width: 60px;
}

.share-btns-container {
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.share-icon:hover .share-btns-container {
  opacity: 1;
  pointer-events: unset;
}

.share-icon:hover:after {
  content: "";
  width: 45px;
  height: 46px;
  position: absolute;
  top: 0;
  left: -20px;
  opacity: 0;
}

.exclusive-badge {
  color: #ffffff;
  background: #000000;
  border-radius: 999px;
  padding: 3px 10px;
  font-size: 11px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 10;

  @media screen and (min-width: 87.5em) {
    color: #000000;
    background: transparent;
    border-radius: 0;
    padding: 0;
    font-size: 11px;
    position: relative;
    top: 0;
    left: 0;
    transform: unset;
    opacity: 1;
    pointer-events: unset;
  }
}

.mobile-size-share-btns-icon {
  cursor: pointer;
  margin-left: 20px;
  display: flex;

  @media screen and (min-width: 87.5em) {
    display: none;
  }
}

.mobile-size-share-btns-icon:hover .mobile-size-share-btns-container {
  opacity: 1;
  pointer-events: unset;
}

.mobile-size-share-btns-container {
  z-index: 1;
}

.mobile-size-share-btns-icon:hover:after {
  content: '';
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: 0;
  transform: translate(-100%);
}


.share-btns-icon:hover:after {
  content: '';
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: 0;
  transform: translate(-100%);
}

.share-btns-icon:hover .mobile-size-share-btns-container {
  opacity: 1;
  pointer-events: unset;
}

.js-header-mobile__menu.show {
  opacity: 1;
  pointer-events: unset;
}

.mockup-single__load-more.spinning {
  max-width: 46px;
  border-top: 4px solid #bababa;
  border-right: 4px solid #777;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;
  animation: spinning-animation .6s infinite linear;
  animation-delay: .3s;
}

.mockup-single__load-more span {
  opacity: 1;
  transition: .3s;
}

.mockup-single__load-more.spinning span {
  opacity: 0;
}

@keyframes spinning-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-pages__img__show-more-btn {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background: transparent;
  color: #000000;
  font-weight: 500;
}

.categories-slider {
  margin-bottom: 27px;
}

.single-page__bookmark-btn-container {
  width: 46px;
  height: 46px;
  background: #f0f1f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.single-page__report {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: 22px;
  padding: 7px 0;
  @media screen and (min-width: 48em) {
    margin-left: 20px;
  }
}

.single-page__report button {
  position: absolute;
  bottom: calc(100% - 5px);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #FD3838;
  background: #FFFFFF;
  padding: 8px 15px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.04);
  z-index: 10;
  right: -2px;
  transform: unset;

  @media screen and (min-width: 48em) {
    right: unset;
    left: 50%;
    transform: translate(-50%);
  }
}

.single-page__report:hover button {
  opacity: 1;
  pointer-events: unset;
  bottom: calc(100% + 3px);
}

.single-page__report:hover:after {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: 10px;
  background: transparent;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.single-page__slider .swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
}

.single-page__slider .swiper-slide img {
  border-radius: 4px;
}

.single-page__slider-button-next, .single-page__slider-button-prev {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  z-index: 1;

  @media screen and (min-width: 48em) {
    width: 40px;
    height: 40px;
    top: calc(50% - 15px);
  }
}

.single-page__slider-button-next {
  background: #FFFFFF;
  right: 15px;
  @media screen and (min-width: 75em) {
    right: 0;
  }
}

.popup .single-page__slider-button-next {
  right: 20px !important;
}

.popup .single-page__slider-button-prev {
  left: 20px !important;
}

.single-page__slider-button-next img {
  transform: translateX(-3.5px);
}

.single-page__slider-button-prev {
  background: #FFFFFF;
  left: 15px;
  @media screen and (min-width: 75em) {
    left: 0;
  }
}

.single-page__slider-button-prev img {
  transform: rotate(180deg) translateX(-3.5px);
  left: 10px;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #e5e5e5;
  opacity: 1;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background: #000000;
}

.single-page__pagination {
  display: none;
  justify-content: center;
  margin-top: 17px;
  height: 12px;

  @media screen and (min-width: 48em) {
    display: flex;
  }
}

.have-youtube-icon {
  width: 16.67px !important;
  background: transparent !important;
}

.single-page__desc__bookmark {
  width: 10px;
}

.single-page__desc__bookmark, .single-page__desc__comment {
  background: transparent;
  margin-left: 20px;
  display: flex;

  @media screen and (min-width: 87.5em) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.single-page__desc__comment {
  width: 13.3px !important;
}

.single-page__related-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7px;
}

.mockup-single-main {
  margin-top: 20px;
}

.flyers-main {
  margin-top: 20px;
}

.fake-table {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.fake-table span {
  display: inline-block;
  padding-bottom: 6px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

.single-page__slider .swiper-slide {
  background: #ffffff;
}

.single-page__slider .swiper-pagination-bullet {
  margin: 0 5px !important;
}

.comment-section__title {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -0.8px;
}

.comment-section__desc {
  font-size: 18px;
  font-weight: 400;
}

.comments-container {
  margin-bottom: 85px;
}

select.custom-select {
  background: transparent;
  border: none;
  font-size: 14px;
}

.no-min-height {
  min-height: unset !important;
  height: 450px;

  @media screen and (min-width: 72em) {
    height: 630px;
  }
}

.categories-slider .swiper-slide {
  width: auto !important;
}

.row-gap-10 {
  row-gap: 10px;
}