.faq__header {
  text-align: center;
  padding: 85px 0 51px 0;

  .faq__header__title {
    margin-bottom: 10px;
    font-size: 22px;
    @include media($md) {
      font-size: 36px;
    }
  }

  .updated {
    font-size: 14px;
    color: #7c8690;
  }
}

.faq__main {
  max-width: 1020px !important;
  margin-bottom: 112px;
  font-weight: 400;

  p {
    color: #484d56;
    text-align: justify;
    margin-top: 25px;
    line-height: 22px;
    font-size: 12px;
    @include media($md) {
      font-size: 14px;
    }
  }

  h2 {
    color: #11181f;
    font-size: 19px;
    @include media($md) {
      font-size: 23px;
    }
    margin-top: 49px;
    margin-bottom: -16px;
    font-weight: bold;
  }

  h3 {
    color: #11181f;
    font-size: 14px;
    @include media($md) {
      font-size: 17px;
    }
    margin-top: 48px;
    font-weight: bold;
  }

  ul {
    margin-top: 25px;


    li {

      font-weight: 300;
      font-size: 12px;
      @include media($md) {
        font-size: 14px;
      }
      margin: 0 0 14px 30px;
    }
  }
}
