.search-page__categories {
  display: flex;
  align-items: center;
  margin-top: 23px;
  gap: 23px;
  white-space: nowrap;

  @media screen and (min-width: 48em) {
    margin-top: 34px;
    gap: 30px;
  }
}

.search-page__categories button {
  border-radius: 999px;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 4.5px 0;

  @media screen and (min-width: 48em) {
    padding: 5px 0;
    font-size: 16px;
  }
}

.search-page__categories span {
  background: #F0F1F3;
  border-radius: 999px;
  font-size: 10px;
  padding: 1px 8px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  display: none;
  @media screen and (min-width: 48em) {
    display: inline-block;
  }
}

.search-page__categories .active {
  background: #000000;
  color: #ffffff;
  padding: 4.5px 13px;

  @media screen and (min-width: 48em) {
    padding: 5px 15px;
  }
}

.search-page__categories .active span {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.search-page__search-field {
  background: linear-gradient(#F0F1F3 35%, transparent);
  padding: 37px 0 0;

  @media screen and (min-width: 48em) {
    padding: 80px 0 45px;
  }
}

.search-page__input-container {
  margin-bottom: 32px;
  width: 100%;

  @media screen and (min-width: 48em) {
    margin-bottom: 50px;
  }
}

.search-page__desc {
  font-size: 18px;
  text-align: center;

  @media screen and (min-width: 48em) {
    font-size: 25px;
  }
}

.clear-search-input {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background: transparent;
}

.clear-search-input img {
  margin: 0;
  height: 100%;
  width: 15px;
}

.commercial-checkbox-container input + span {
  opacity: .5;
  transition: .2s;
}

.commercial-checkbox-container input:checked + span {
  opacity: 1;
}

.search-page__categories button {
  font-weight: 500;
  transition: .2s;
  color: rgba(0, 0, 0, 0.5);
}

.search-page__desc {
  font-weight: 400;
}

.search-page__desc .searched-text {
  font-weight: 600;
}