.popup .single__main {
  padding: 0;
}

.single__main {
  padding: 0 17px;
  margin-top: 30px;
  @include media($xl) {
    margin-top: 44px;
    padding: 0 12%;
  }

  .article-container {
    padding-bottom: 35px;
    border-bottom: 1px solid #eaecef;
  }

  .single__main__header {
    margin-bottom: 20px;
    @include media($md) {
      margin-bottom: 0 !important;
    }

    @media screen and (min-width: $xl) {
      padding-right: 410px;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      @include media($md) {
        font-size: 23px;
      }
      font-weight: bold;
      display: inline;
      margin-right: 10px;
    }

    span {
      background: #fbe3f5;
      color: #e342ba;
      padding: 5px 9px;
      border-radius: 100000px;
      font-size: 9px;
      letter-spacing: 1px;
    }
  }

  .breadcrumb-container {
    background: white;
  }

  .article-container {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: auto;

    .single__main__article__right-side {
      border-top: 1px solid #f5f5f7;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      grid-row: 2/3;

      .single__main__article__left-side__table-container {
        border-radius: 20px;
        padding: 0;
        border: none;
        @include media($sm) {
          border: 1px solid #e0e2e7;
          padding: 21px 26px;
        }

        legend {
          padding-inline-start: 10px;
          padding-inline-end: 10px;
          margin-left: -8px;
        }

        h3 {
          font-size: 11px;
          color: rgb(146, 157, 169);
          font-weight: normal;
        }

        table {
          color: #7c8690;
          font-size: 13px;
          line-height: 34px;

          tr {
            td:first-child {
              width: -moz-fit-content;
              width: fit-content;
              color: #929da9;

              span {
                display: flex;
                align-items: center;
              }


              img {
                width: 12px;
                height: 15px;
                margin-right: 13px;
              }

            }

            td:last-child {
              width: -moz-fit-content;
              width: fit-content;
              padding-left: 36px;
            }


            td {
              a {
                border-bottom: 1px solid #e5e7e9;
                color: #7c8690;
                padding-bottom: 3px;
                transition: .2s;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 120px;
                white-space: nowrap;

                &:hover {
                  color: #20262b;
                }
              }

            }
          }

          .show-all {
            background-color: transparent;
            margin-left: 5px;
            color: #929da9;
            cursor: pointer;
            transition: .2s;
            font-size: 11px;

            &:hover {
              color: #636e78;
            }
          }

          .collapsable {
            max-height: 0;
            overflow: hidden;
            transition: $global-transition;
          }

          .show {
            max-height: 40px;
          }
        }

        > a {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 13px 0;
          border-radius: 10px;
          font-size: 14px;
          transition: $global-transition;

          &:hover {
            .buttons-arrow {

              width: 12px;
              margin-left: 10px;
            }
          }
        }

        .free-download {
          color: white;
          background-color: #ff6c4a;

          &:hover {
            background-color: $primary-color_hover;
          }
        }

        .full-version {
          color: #20262b;
          background-color: #ffcf3f;

          &:hover {
            background-color: #ffc002;
          }
        }

        .buttons-arrow {
          margin-left: 0;
          width: 0;
          transition: $global-transition;
        }

        .designer {
          margin-top: 25px;
          display: flex;
          align-items: center;


          .profile-pic {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            margin-right: 20px;
            overflow: hidden;
            margin-left: 5px;
          }

          .designer-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            line-height: 22px;

            span {
              color: #929da9;
              font-size: 11px;
            }

            a {
              color: #2c3844;
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .single__main__article__left-side {
      a {
        color: $primary-color;
      }

      img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;
      }

      img:not(:first-child) {
        margin-top: 20px;
      }

      .single__main__header__desc {
        position: relative;
        line-height: 26px;
        color: #636d76;
        font-size: 15px;
        font-weight: 100;
        overflow: hidden;
        transition: 1s;

        ul {
          list-style: inside;
          margin: 30px 0 30px 0;
          padding-left: 48px;
          text-indent: -20px;
        }

        h3 {
          font-size: 14px;
          @include media($md) {
            font-size: 16px;
          }
          font-weight: bold
        }

        h2 {
          font-size: 18px;
          @include media($md) {
            font-size: 19px;
          }
          font-weight: bold;
        }

        h2, h3 {
          margin: 25px auto 15px auto;
          color: #11181f;
        }

        @media screen and (max-width: 768px) {
        }

      }

      .select-after:after {
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      }

      .show-more {
        color: $primary-color;
        background: transparent;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        margin-top: 25px;
        transition: $global-transition;


        .arrow-up:after {
          content: '';
          transform: translateY(1px);
          background: $primary-color;
          mask: url(assets/images/show-more.svg) no-repeat center/contain;
          -webkit-mask: url(assets/images/show-more.svg) no-repeat center/contain;
          display: inline-block;
          width: 10px;
          height: 10px;
          transition: $global-transition;
        }

        .rotate:after {
          transform: translateY(1px) rotate(180deg);
        }
      }
    }

    @include media($lg) {
      grid-template-columns: auto 382px;
      .single__main__article__right-side {
        grid-column: 2/3;
        grid-row: 1;
      }
    }

    .first-block-sidebar {
      width: 100%;
      height: 273px;
      //background-color: #35349b;
      border-radius: 20px;
      display: none;
      margin-bottom: 28px;
      @include media($lg) {
        display: inline-block;
      }
    }
  }
}

.single-page__articles {
  .articles-container {
    display: grid;
    grid-gap: 22px;
    justify-content: center;
    grid-template-columns: auto auto;

    @include media($md) {
      grid-template-columns: auto auto auto;
    }
    @include media($lg) {
      grid-template-columns: calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) !important;
    }
  }
}


.remove-write-shadow:after {
  display: none;
}

.category {
  display: flex;
  justify-content: space-between;
}

.single__main {

  @media screen and (min-width: 48em) {
    .articles {
      padding-top: 0 !important;
    }
  }
}

.file-type {
  display: flex;
}

.remove-white-shadow:after {
  display: none !important;
}

.single__main__header__desc[data-readmore][aria-expanded="false"]:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 95px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  bottom: 0;
  transition: $global-transition;
}

.show-more {
  text-align: left;
}

@media screen and (min-width: 62em) {
  .single__main .article-container .single__main__article__right-side {
    border-top: unset;
  }
}

.single__main .article-container .single__main__article__right-side .single__main__article__left-side__table-container .designer .profile-pic img {
  max-width: 100% !important;
  height: 45px !important;
  width: 45px !important;
}

@media screen and (max-width: $sm) {
  .single__main .single__main__header span {
    display: inline-block;
  }
}

.first-block-sidebar a {
  height: inherit;
  width: inherit;
}

.first-block-sidebar a img {
  height: inherit;
  width: inherit;
  border-radius: 20px;
}

.single__main__header__desc p {
  padding-bottom: 30px;
}