@mixin media($res) {
  @if $res==$sm {
    @media screen and (min-width: $sm) {
      @content;
    }
  } @else if $res==$md {
    @media screen and (min-width: $md) {
      @content;
    }
  } @else if $res==$lg {
    @media screen and (min-width: $lg) {
      @content;
    }
  } @else if $res==$xl {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
}