$primary-color : var(--resourceboy-primary-color);
$primary-color_hover : var(--resourceboy-primary-color_hover);
$dark-blue: #11181f;
$dark-blue1: #484d56;
$dark-blue2: #252d36;
$light-gray: #e9f0f5;

$global-transition: .2s;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;