.articles {
  padding-top: 45px;
  flex-direction: column;

  .articles-container {
    position: relative;
    padding-top: 22px;

    article {
      margin-bottom: 24px;
      @include media($md) {
        margin-bottom: 28px;
      }
    }
  }
}

.article__img {
  display: block;
  position: relative;
  background-color: #eff0f3;
  border-radius: 4px;
  overflow: hidden;
}

.article__caption {
  margin-top: 11px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  p {
    font-size: 11px;
    color: #7c8690;
    font-weight: 400;
    margin-top: 5px;

    a {
      transition: $global-transition;
      cursor: pointer;

      &:hover {
        color: #38424b;
      }
    }

    .designer {
      display: none;
      @include media($sm) {
        display: inline-block;
      }
    }
  }
}

.article__caption a {
  display: flex;
  align-items: center;
}

.article__caption h2 {
  margin: 0;
  opacity: .8;
  transition: .2s;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article__img {
  cursor: pointer;
}


// articles container that contains 7 items in desktop size:
.articles-container-7 {
  .masonry-item {
    width: calc((100% / 2) - (10px * 1 / 2));

    @media screen and (min-width: 36em) {
      width: calc((100% / 3) - (10px * 2 / 3));
    }

    @media screen and (min-width: 48em) {
      width: calc((100% / 4) - (10px * 3 / 4));
    }

    @media screen and (min-width: 62em) {
      width: calc((100% / 5) - (15px * 4 / 5));
    }

    @media screen and (min-width: 75em) {
      width: calc((100% / 6) - (18px * 5 / 6));
    }

    @media screen and (min-width: 87.5em) {
      width: calc((100% / 7) - (20px * 6 / 7));
    }
  }

  .gutter-sizer {
    width: 10px;

    @media screen and (min-width: 36em) {
      width: 10px;
    }

    @media screen and (min-width: 48em) {
      width: 10px;
    }

    @media screen and (min-width: 62em) {
      width: 15px;
    }

    @media screen and (min-width: 75em) {
      width: 18px;
    }

    @media screen and (min-width: 87.5em) {
      width: 20px;
    }
  }
}


// articles container that contains 5 items in desktop size:
.articles-container-5 {
  .masonry-item {
    width: calc((100% / 2) - (10px * 1 / 2));

    @media screen and (min-width: 36em) {
      width: calc((100% / 3) - (10px * 2 / 3));
    }

    @media screen and (min-width: 48em) {
      width: calc((100% / 4) - (10px * 3 / 4));
    }

    @media screen and (min-width: 62em) {
      width: calc((100% / 4) - (15px * 3 / 4));
    }

    @media screen and (min-width: 75em) {
      width: calc((100% / 5) - (20px * 4 /5));
    }

    @media screen and (min-width: 87.5em) {
      width: calc((100% / 5) - (20px * 4 / 5));
    }
  }

  .gutter-sizer {
    width: 10px;

    @media screen and (min-width: 36em) {
      width: 10px;
    }

    @media screen and (min-width: 48em) {
      width: 10px;
    }

    @media screen and (min-width: 62em) {
      width: 15px;
    }

    @media screen and (min-width: 75em) {
      width: 20px;
    }

    @media screen and (min-width: 87.5em) {
      width: 20px;
    }
  }
}


.articles-container-1 {
  .masonry-item {
    width: 100%;
  }
}


// articles container that contains 5 items next to aside, in desktop size:
.articles-container-5-w-aside {
  .masonry-item {
    width: calc((100% / 2) - (10px * 1 / 2));

    @media screen and (min-width: 36em) {
      width: calc((100% / 2) - (15px * 1 / 2));
    }

    @media screen and (min-width: 48em) {
      width: calc((100% / 3) - (15px * 2 / 3));
    }

    @media screen and (min-width: 62em) {
      width: calc((100% / 3) - (15px * 2 / 3));
    }

    @media screen and (min-width: 75em) {
      width: calc((100% / 4) - (18px * 3 / 4));
    }

    @media screen and (min-width: 87.5em) {
      width: calc((100% / 5) - (20px * 4 / 5));
    }
  }

  .gutter-sizer {
    width: 10px;

    @media screen and (min-width: 36em) {
      width: 15px;
    }

    @media screen and (min-width: 48em) {
      width: 15px;
    }

    @media screen and (min-width: 62em) {
      width: 15px;
    }

    @media screen and (min-width: 75em) {
      width: 18px;
    }

    @media screen and (min-width: 87.5em) {
      width: 20px;
    }
  }
}

.font-article {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 0 !important;
}

.font-article__height {
  height: 142px;
}

.font-article > div {
  max-height: 100%;
}

.font-article > div:first-child {
  //align-self: flex-start;
}

.font-article .article__pin {
  position: absolute;
  top: 10px;
  left: 0;
}

.font-article__download-btn {
  margin-top: 23px;
  width: 126px;
  height: 36px;
  background: #f3f4f5;
  border-radius: 99999px;
  font-size: 14px;
  font-weight: 500;
}

.font-article__bookmark {
  margin-left: 20px;
}

.number-of-styles {
  margin-right: 30px;
}

.articles-container__loading-container {
  position: absolute;
  z-index: 10;
  background: #ffff;
  height: 100%;
  width: 100%;
  top: 0;
}

.articles-container__loading-container .spinning {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border-top: 4px solid #bababa;
  border-right: 4px solid #777;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;
  animation: spinning-animation .6s infinite linear;
  animation-delay: .3s;
  background: rgba(243, 244, 245, 0);
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles-container__loading-container.o-0 {
  opacity: 0 !important;
  pointer-events: none;
}

.articles-container__loading-container .mockup-single__load-more {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: articlesLoading .6s infinite linear;
  pointer-events: none;
}

@keyframes articlesLoading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.img-with-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

article:hover .article__caption h2 {
  opacity: 1;
}