.breadcrumb-container {
  display: none;
  @include media($md) {
    display: block !important;
  }
  background-color: $light-gray;
  padding: 17px 0;

  .breadcrumb {
    color: #929da9;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: 200;
    flex-wrap: wrap;

    li:not(:last-child) {
      margin-right: 23px;
    }

    li {
      position: relative;
      transition: $global-transition;
      cursor: pointer;

      &:hover {
        color: #20262b;
      }
    }

    li:not(:last-child):after {
      content: url(assets/images/arrow-right.svg);
      position: absolute;
      width: 4px;
      top: 0;
      right: -15px;
      cursor: default;
    }
  }
}

#popup {
  .breadcrumb-container {
    display: none;
  }
}

.breadcrumb-item {
  a {
    color: #929da9 !important;

    &:hover {
      color: #20262b !important;
    }
  }
}

.category__breadcrumb-container {
  display: none;
  @include media($md) {
    display: block !important;
  }
  background-color: $light-gray;
  padding-bottom: 20px;

  .breadcrumb {
    color: #929da9;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: 200;
    flex-wrap: wrap;

    li:not(:last-child) {
      margin-right: 23px;
    }

    li {
      position: relative;
      transition: $global-transition;
      cursor: pointer;

      &:hover {
        color: #20262b;
      }
    }

    li:not(:last-child):after {
      content: url(assets/images/arrow-right.svg);
      position: absolute;
      width: 4px;
      top: 0;
      right: -15px;
      cursor: default;
    }
  }
}

.popup__breadcrumb-container {
  display: none;
  @include media($md) {
    display: block !important;
  }
  background-color: transparent;
  padding: 17px 0;

  .breadcrumb {
    color: #929da9;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: 200;
    flex-wrap: wrap;

    li:not(:last-child) {
      margin-right: 23px;
    }

    li {
      position: relative;
      transition: $global-transition;
      cursor: pointer;

      &:hover {
        color: #20262b;
      }
    }

    li:not(:last-child):after {
      content: url(assets/images/arrow-right.svg);
      position: absolute;
      width: 4px;
      top: 0;
      right: -15px;
      cursor: default;
    }
  }
}