.leave-a-comment-form .send-message {
  width: 222px;
  height: 57px;
  background: #000000;
  color: #ffffff;
  margin-top: 30px;
  border-radius: 99999px;
}

.leave-a-comment-form form {
  font-size: 19px !important;
}


.leave-a-comment-form form input {
  padding: 14px 20px;
}

.leave-a-comment-form textarea {
  font-weight: 500;
}


.leave-a-comment-form input {
  height: 56px;
  font-weight: 500;
}

.leave-a-comment-form input, textarea {
  background: #f0f1f3;
  border-radius: 10px;
  margin-top: 30px !important;
  padding: 20px 20px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.leave-a-comment-form input::placeholder, textarea::placeholder {
  color: #000000;
  opacity: .5;
}

.leave-a-comment-form textarea {
  border: none;
}

.leave-a-comment-form button {
  height: 57px;
  background: #000000;
  color: #ffffff;
  margin-top: 30px;
  border-radius: 99999px;
  font-size: 19px;
  width: unset;
  padding: 0 30px;
  font-weight: 500;
}

.comments-section {
  margin-top: 70px;
  margin-bottom: 100px;
  padding-top: 65px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 0 !important;
  padding-left: 0 !important;
  @media screen and (min-width: 62em) {
    max-width: 964px !important;
  }
}

.comments__avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  flex-shrink: 0;
}

.comments__avatar-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.Rb-stuff-badge {
  margin-left: 15px;
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  font-weight: 500;
  white-space: nowrap;
}

.comment {
  font-size: 18px;
}

.comment__reply-button {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  margin-left: 55px;
  margin-bottom: 40px;
  font-weight: 500;
  transition: .2s;
}

.comment__reply-button:hover {
  color: rgba(0, 0, 0);
}

.comment__reply-button img {
  margin-left: 5px;
  margin-top: 3px;
  opacity: 0;
  transition: .2s;
}

.comment__reply-button:hover img {
  opacity: 1;
}

.comment p {
  padding-left: 55px;
  margin-bottom: 7px;
  font-weight: 400 !important;
}

.comment__reply {
  margin-left: 15px;
  padding-left: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 48em) {
    margin-left: 55px;
  }
}

.no-pic-avatar img {
  width: 100%;
  height: 100%;
  opacity: 15%;
}

.comment .comment__reply:nth-last-child(1) .comment__reply-button {
  margin-bottom: 0;
}

.comment .comment__reply:nth-last-child(1) {
  margin-bottom: 40px;
}

.comments-section__header {
  font-weight: 600;
  font-size: 25px;
  display: block;
  margin-bottom: 50px;
}