.load-more {
  cursor: pointer;
  margin-top: 40px;
  background-color: #eff0f3;
  color: #444;
  display: block;
  height: 3em;
  line-height: 3em;
  overflow: hidden;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  width: 595px;
  max-width: 100%;
  border-radius: 23px;
  transition: $global-transition;

  &:hover {
    background-color: #e0e2e7;
  }

  &.load-more--loading {
    animation: rotate .5s linear infinite;
    animation-delay: 0.2s;
    background-color: transparent;
    border: 0.3em solid #e1e1e1;
    border-radius: 1.5em;
    border-top-color: #444;
    box-sizing: border-box;
    height: 3em;
    color: transparent;
    padding: 0;
    pointer-events: none;
    width: 3em;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
