.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 18px;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  line-height: 36px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all .2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  background: #f0f1f3;
}

.nice-select.open{
  border-radius: 18px 18px 0 0;
}

.nice-select:after {
  content: "";
  display: block;
  height: 17px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .15s ease-in-out;
  width: 11px;
  background: url("assets/images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: -1px -1.5px;
}

.nice-select.open:after {
  transform: translateY(-50%) rotate(-180deg);
}

.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0)
}

.nice-select.disabled {
  color: #999;
  pointer-events: none
}


.nice-select.wide {
  width: 100%
}

.nice-select.wide .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important
}

.nice-select.right {
  float: right
}

.nice-select.right .nice-select-dropdown {
  left: auto;
  right: 0
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px
}

.nice-select.small:after {
  height: 4px;
  width: 4px
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px
}

.nice-select .nice-select-dropdown {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 18px 18px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(19px);
  transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
  z-index: 9;
  opacity: 0;
  border: none;
  overflow: hidden;
}

.nice-select .list {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 210px;
  overflow-y: auto;
  margin: 0;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all .2s;
  background: rgba(246, 246, 246, 0.3);
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6
}

.nice-select .option.selected {
  font-weight: bold
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default
}

.nice-select .optgroup {
  font-weight: bold
}

.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none
}

.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block
}

.nice-select .list::-webkit-scrollbar {
  width: 0
}

.nice-select .has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 36px;
  line-height: 22px
}

.nice-select .has-multiple span.current {
  background: #eee;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px
}

.nice-select .has-multiple .multiple-options {
  display: block;
  line-height: 24px;
  padding: 0
}

.nice-select .nice-select-search-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px 5px 0 0
}

.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
  font-size: 14px
}

.nice-select .current {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}