.pagination {
  max-width: 100vw;
  justify-content: center;
  font-size: 14px;
  margin: 25px 0 90px 0;
  @include media($md) {
    margin: 55px 0 90px 0;
  }

  .nav-links {
    display: flex;
    align-items: center;

    .page-numbers {
      min-width: 25px;
      min-height: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px 8px;
      @include media($md) {
        margin: 5px 4px;
        min-width: 37px;
      }
      border-radius: 5px;
      transition: $global-transition;
      @include media($md) {
        min-width: 45px;
        min-height: 29px;
      }
    }

    .more {
      background-color: transparent;
      margin: 0;
      max-height: 45px;
    }

    .next, .prev {
      border-radius: 10000px;
      background-color: transparent;
      margin: 5px 10px;
      transition: $global-transition;
      @media screen and (min-width: 48em) {
        margin: 5px 37px;
      }

      &:hover {
        border-color: #d0d3d9;
      }

      img {
        width: 11px;
        height: 11px;
      }
    }

    .page-numbers.current {
      background-color: #000000;
      color: white;
      user-select: none;
      width: 29px;
      border-radius: 50px;
      min-width: unset;
      @media screen and (min-width: 48em) {
        width: 54px;
        height: 29px;
      }
    }

    .scroll-horizontally {
      display: flex;
      overflow: auto;
      max-width: 100%;
    }
  }
}

.number-of-hiddens {
  @include media($md) {
    font-size: 22px !important;
  }
}

.pagination__arrow-container {
  background: #b2b2b2;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding-bottom: 2px;
  border-radius: 4px;
}

.prev .pagination__arrow-container {
  margin-right: 10px;
  transform: rotate(180deg);
}

.next .pagination__arrow-container {
  margin-left: 10px;
}