.popup-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  //display: none;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 1000;
  transition: .5s;

  .popup {
    padding: 0 15px;
    border-radius: 0;

    @include media($md) {
      border-radius: 10px;
    }

    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
    //height: 100vh;
    margin: 0 0;
    overflow-x: hidden;
    background-color: #fff;

    @include media($md) {
      width: 72vw;
      margin: 76px 14vw 0vh 14vw;
      padding: 0 50px 25px 50px;
    }

    @media screen and (min-width: 1921px) {
      width: 1387px;
      margin-right: auto;
      margin-left: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .close-btn {
    z-index: 50;
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    background-color: #4f4f4f;
    top: 5px;
    right: 1%;
    width: 33px;
    height: 33px;
    transition: .2s;

    &:hover {
      background: #7d7d7d;
    }

    @include media($md) {
      top: 76px;
      right: calc(14vw - 64px);
      width: 44px;
      height: 44px;
    }

    @media screen and (min-width: 1921px) {
      right: calc(50vw - 760px);
    }

    &:after {
      content: '';
      position: absolute;
      mask: url(assets/images/close-popup.svg) no-repeat center / contain;
      -webkit-mask: url(assets/images/close-popup.svg) no-repeat center / contain;
      background-color: white;
      top: calc(50% - 7px);
      left: calc(50% - 7px);
      width: 14px;
      height: 14px;
      @include media($md) {
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        width: 16px;
        height: 16px;
      }
    }
  }

  .prev-btn {
    transition: .2s;

    &:hover {
      background: #7d7d7d;
    }

    &:after {
      transition: $global-transition;
      content: '';
      position: absolute;
      top: calc(50% - 5.5px);
      left: calc(50% - 10px);
      width: 24px;
      height: 12px;
      mask: url(assets/images/arrow-left-dark.svg) no-repeat center / contain;
      -webkit-mask: url(assets/images/arrow-left-dark.svg) no-repeat center / contain;
      background-color: #FFFFFF !important;;
    }

    cursor: pointer;
    position: fixed;
    top: 130px;
    right: calc(14vw - 64px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #4f4f4f;
    @media screen and (min-width: 1921px) {
      right: calc(50vw - 760px);
    }
  }

  .prev-btn:hover:after {
    background-color: #11181f;
  }

  .next-btn {
    transition: .2s;

    &:hover {
      background: #7d7d7d;
    }

    &:after {
      transition: $global-transition;
      content: '';
      position: absolute;
      top: calc(50% - 5.5px);
      left: calc(50% - 14.5px);
      width: 24px;
      height: 12px;
      mask: url(assets/images/arrow-right.svg) no-repeat center / contain;
      -webkit-mask: url(assets/images/arrow-right.svg) no-repeat center / contain;
      background-color: #FFFFFF !important;
    }

    cursor: pointer;
    position: fixed;
    top: 184px;
    right: calc(14vw - 64px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #4f4f4f;

    @media screen and (min-width: 1921px) {
      right: calc(50vw - 760px);
    }
  }

  .next-btn:hover:after {
    background-color: #11181f;
  }

  .display-none {
    display: none !important;
  }
}

.popup-loading-container {
  width: 100%;
  height: 100vh;
  margin-bottom: -101px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;


  .popup-loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 4px solid #bababa;
    border-right: 4px solid #777;
    border-bottom: 4px solid #777;
    border-left: 4px solid #777;
    animation: popup-loading 1s infinite linear;
  }

  @keyframes popup-loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: $sm) {
  .popup-loading-container {
    height: 100vh;
  }
}

.popup .single-page__desc {
  padding: 0 0 30px;
  margin-top: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-left: none;
  max-width: unset !important;

  @media screen and (min-width: 62em) {
  }

  @media screen and (min-width: 75em) {
    min-height: 67vh;
    padding: 0 45px;
    max-width: 430px !important;
    width: 100%;
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.popup__desc__info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.popup__desc__info img {
  margin-right: 7px;
  margin-top: 2.5px;
}

.popup .single-page__img-container > div {
  max-width: 100% !important;
}

.popup .single-page__desc {
  padding-right: 0 !important;
}

.popup .mobile-size-share-btns-icon {
  display: inline-block !important;
}

.popup .single-page__desc__bookmark {
  display: inline-block !important;
}

.popup .exclusive-badge {
  color: #ffffff;
  background: #000000;
  border-radius: 999px;
  padding: 3px 10px;
  font-size: 11px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 10;
}

.popup .single-page__desc__exclusive:hover .exclusive-badge {
  opacity: 1;
}

.popup .single-page__desc__comment {
  display: inline-block !important;
}

.popup-container .close-btn {
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.popup-container .next-btn {
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.popup-container .prev-btn {
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.popup-container {
  pointer-events: none;
  opacity: 0;
  transition: .5s;
}

.popup-container .popup {
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.popup-container.show-popup {
  pointer-events: unset;
  opacity: 1;
}

.popup-container.show-popup.popup-ready .close-btn {
  pointer-events: unset;
  opacity: 1;
}

.popup-container.show-popup.popup-ready .next-btn {
  pointer-events: unset;
  opacity: 1;
}

.popup-container.show-popup.popup-ready .prev-btn {
  pointer-events: unset;
  opacity: 1;
}

.popup-container.show-popup.popup-ready .popup {
  pointer-events: unset;
  opacity: 1;
}