* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

input, button {
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.bg-white {
  background-color: white !important;
}

::selection {
  background: #000000;
  color: #FFFFFF;
}

body {
  font-family: inter, Arial !important;
  min-height: 100vh;
  font-weight: 500;


  > main {
    min-height: calc(100vh - 361px);
    @media screen and (min-width: 62em) {
      min-height: calc(100vh - 291px);
    }
  }

  input {
    font-family: Inter;
  }
}

a {
  font-family: inherit;
  color: #38424b;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1835px !important;
  }
}

html {
  scroll-behavior: smooth;
}

.designer {
  a {
    color: inherit;
  }
}

img {
  color: transparent !important;
}

.container-fluid:not(header) {
  max-width: 1885px !important;
}

header.container-fluid {
  padding: 0 22px;
}

.main-content-container {
  padding: 0 25px !important;

  @media screen and (min-width: 48em) {
    padding: 0 34px !important;
  }
}

.main__heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  display: block;
  letter-spacing: -0.8px;
  @media screen and (min-width: 48em) {
    font-size: 40px;
  }
}

.font-14 {
  font-size: 14px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.font-13 {
  font-size: 13px;
}

.masonry-item {
  transition: 0s !important;
}

.pt-28 {
  padding-top: 28px;
}

.pl-20 {
  padding-left: 20px;
}

input {
  font-weight: 500;
}

img.js-lazy {
  opacity: 0;
  transition: 1s opacity;
}

img.js-lazy.loaded {
  opacity: 1;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 25px !important;
  padding-left: 25px !important;

  @media screen and (min-width: 48em) {
    padding-right: 34px !important;
    padding-left: 34px !important;
  }
}