<main class="single__main container">
    <section>
        <div class="single__main__header">
            <h1>Free A4 Folder Mockup2</h1><span>FEATURED</span>
            <nav aria-label="breadcrumb" class="popup__breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">All</a></li>
                    <li class="breadcrumb-item"><a href="#">Mockups</a></li>
                    <li class="breadcrumb-item">Frame</li>
                </ol>
            </nav>
        </div>
        <div class="article-container">
            <article class="single__main__article__left-side" id="single__main__article__left-side">
                <div class="single__main__header__desc rmjs-13 rmjs-14" style="height: auto; max-height: none;" data-rendered="true">
                    <img src="https://resourceboy.com/wp-content/uploads/2021/08/two-floating-plastic-bottles-mockup-free-download.jpg">
                    <p>Use your design to design realistic bottles demonstrations with no trouble and in a breeze. This photorealistic <a href="https://resourceboy.com/mockups/bottle/" target="_blank" rel="noopener">bottle mockup</a> includes two floating plastic bottles on a solid background, each bottle comes with customizable features. Not only can you edit the background, but also you have complete control over shadows, lights, highlights, and even reflections.</p>
                    <p>So you can edit them in few tweaks. Needless to say, you can add your texts or graphics with no sweat too. For your convenience, an informative help file is included to guide you through the process of editing.</p>
                </div>
            </article>
            <div class="single__main__article__right-side">
                <fieldset class="single__main__article__left-side__table-container">
                    <legend><h3>File Info</h3></legend>
                    <table>
                        <tr>
                            <td><span><img src="assets/images/license.svg" alt=""> License</span></td>
                            <td>Personal and commercial use</td>
                        </tr>
                        <tr>
                            <td class="file-type"><span><img src="assets/images/file-type.svg" alt=""> File Type</span>
                            </td>
                            <td>PSD, JPG, TTFPSD, JPG, TTFPSD, JPG, TTFPSD, JPG, TTF</td>
                        </tr>
                        <tr>
                            <td><span><img src="assets/images/category.svg" alt=""> Category</span></td>
                            <td class="category"><a href="#" class="">Frame Mockups</a>
                                <button class="show-all"> . show All</button>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span><img src="assets/images/download.svg" alt=""> Downloads</span></td>
                            <td>125,659</td>
                        </tr>
                    </table>
                    <a href="#" target="_blank" class="free-download">Free Download
                        <img class="buttons-arrow" src="assets/images/buttons-arrow-w.svg" alt=""></a>
                    <a href="#" class="full-version">Full Version
                        <img class="buttons-arrow" src="assets/images/buttons-arrow.svg" alt=""></a>
                    <div class="designer">
                        <div class="profile-pic">
                            <img src="assets/images/avatar.png" alt="">
                        </div>
                        <div class="designer-name">
                            <span>Designed by</span>
                            <a href="#">Spoon Graphics</a>
                        </div>
                    </div>
                </fieldset>
                <div class="first-block-sidebar">
                </div>
            </div>
        </div>
    </section>
    <section class="articles single-page__articles single__articles">
        <div class="articles-container container">
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
        </div>
        <a class="load-more">Load More</a>
    </section>
    <div class="popup-container">
<div class="popup-loading-container">
         <div class="popup-loading"></div>
     </div>
        <button class="close-btn"></button>
        <button class="next-btn"></button>
        <button class="prev-btn"></button>
        <div class="popup" id="popup">
        </div>
    </div>
</main>
