<main class="single__main container">
    <section>
        <div class="single__main__header">
            <h1>Free A4 Folder Mockup</h1><span>FEATURED</span>
            <nav aria-label="breadcrumb" class="popup__breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">All</a></li>
                    <li class="breadcrumb-item"><a href="#">Mockups</a></li>
                    <li class="breadcrumb-item">Frame</li>
                </ol>
            </nav>
        </div>
        <div class="article-container">
            <div class="single__main__article__right-side">
                <fieldset class="single__main__article__left-side__table-container">
                    <legend><h3>File Info</h3></legend>
                    <table>
                        <tr>
                            <td><span><img src="assets/images/license.svg" alt=""> License</span></td>
                            <td>Personal and commercial use</td>
                        </tr>
                        <tr>
                            <td class="file-type"><span><img src="assets/images/file-type.svg" alt=""> File Type</span>
                            </td>
                            <td>PSD, JPG, TTFPSD, JPG, TTFPSD, JPG, TTFPSD, JPG, TTF</td>
                        </tr>
                        <tr>
                            <td><span><img src="assets/images/category.svg" alt=""> Category</span></td>
                            <td class="category"><a href="#" class="">Frame Mockups</a>
                                <button class="show-all"> . show All</button>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td>
                                <div class="collapsable"><a href="#" class="">Frame Mockups</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span><img src="assets/images/download.svg" alt=""> Downloads</span></td>
                            <td>125,659</td>
                        </tr>
                    </table>
                    <a href="#" target="_blank" class="free-download">Free Download
                        <img class="buttons-arrow" src="assets/images/buttons-arrow-w.svg" alt=""></a>
                    <a href="#" class="full-version">Full Version
                        <img class="buttons-arrow" src="assets/images/buttons-arrow.svg" alt=""></a>
                    <div class="designer">
                        <div class="profile-pic">
                            <img src="assets/images/avatar.png" alt="">
                        </div>
                        <div class="designer-name">
                            <span>Designed by</span>
                            <a href="#">Spoon Graphics</a>
                        </div>
                    </div>
                </fieldset>
                <div class="first-block-sidebar">
                </div>
            </div>
            <article class="single__main__article__left-side" id="single__main__article__left-side">
                <div class="single__main__header__desc" style="max-height: 721px;">
                    <img src="assets/images/Layer%208.png" alt="">
                    <p>Stop right there! We have found it! You don’t need to look any further, this is the perfect poster. It consists of 3 free graphics with a realistic light wooden frame. One version has 2 different sized frames suspended in front of a contrasting wall, perfect for showcasing your designs of different sizes.</p>
                    <p>
                        While the design is simple, it is also elegant and won’t compete with your poster or flyer design, it would just give it an elevated look as if it were displayed in an art gallery. If you fall in love with these mockups by Deep Lab and are thirsting for more; there are also an additional 13 mockups that you can purchase. The free mockup comes in 3 PSD files.compete with your poster or flyer design, it would just give it an elevated look as if it were
                        <a href="#">displayed in an art</a> gallery.</p>
                    <img src="assets/images/Layer%208.png" alt="">
                    <img src="assets/images/Layer%208.png" alt="">
                    <p>Stop right there! We have found it! You don’t need to look any further, this is the perfect poster. It consists of 3 free graphics with a realistic light wooden frame. One version has 2 different sized frames suspended in front of a contrasting wall, perfect for showcasing your designs of different sizes.</p>
                    <h2>Free Realistic Desk Calendar Mockup H2
                    </h2>
                    <p>Stop right there! We have found it! You don’t need to look any further, this is the perfect poster. It consists of 3 free graphics with a realistic light wooden frame. One version has 2 different sized frames suspended in front of a contrasting wall, perfect for showcasing your designs of different sizes.</p>
                    <ul>
                        <li> 15 x Gouache Brushes including smooth, textured and line-work brushes</li>
                        <li> 6 x Gouache Brush Stamps</li>
                        <li> 2 x Ready-to-draw Procreate canvases available in 3 sizes: Standard 2800 X 3554 pixels, Large 3900 X 4950 pixels, Extra Large 4950 X 7000 pixels</li>
                        <li> 4 x Procreate colour palettes</li>
                        <li> Bonus! Learn-to-paint a botanical art print Procreate document - video tutorial to guide you</li>
                    </ul>
                    <p>Stop right there! We have found it! You don’t need to look any further, this is the perfect poster. It consists of 3 free graphics with a realistic light wooden frame. One version has 2 different sized frames suspended in front of a contrasting wall, perfect for showcasing your designs of different sizes.</p>
                    <h3>Free Realistic Desk Calendar Mockup H3
                    </h3>
                    <p>Stop right there! We have found it! You don’t need to look any further, this is the perfect poster. It consists of 3 free graphics with a realistic light wooden frame. One version has 2 different sized frames suspended in front of a contrasting wall, perfect for showcasing your designs of different sizes.</p>
                </div>
            </article>
        </div>
    </section>
    <section class="articles single-page__articles single__articles">
        <div class="articles-container container">
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt="" src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="0" data-currentid="1" data-nextid="2">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="1" data-currentid="2" data-nextid="3">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="2" data-currentid="3" data-nextid="4">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="3" data-currentid="4" data-nextid="5">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
            <article data-previd="4" data-currentid="5" data-nextid="0">
                <div>
                    <a href="" class="article__img">
                        <img class="js-lazy" alt=""  src="assets/images/article1.png">
                    </a>
                </div>
                <div class="article__caption"><a href="">
                    <h3>Mini Glass Water Bottle Mockup</h3>
                </a>
                    <p><span class="designer">by <a href="#"> angelainthefields </a> in <a href="#"> Graphic</a></span>
                    </p></div>
            </article>
        </div>
        <a class="load-more">Load More</a>
    </section>
    <div class="popup-container">
<div class="popup-loading-container">
         <div class="popup-loading"></div>
     </div>
        <button class="close-btn"></button>
        <button class="next-btn"></button>
        <button class="prev-btn"></button>
        <div class="popup" id="popup">
        </div>
    </div>
</main>
